# e. Operations and maintenance (O&M) program (12/14/17) + f. Specific requirements for the Physical R

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_2635
**Pages:** 1188-1188
**Section Path:** Third-Party Reports (Chs 60-69) > 66 - Physical Risk Report Reqs GB-12-12-24 > 66.3 Physical Risk Report requirements (12/14/23) > e. Operations and maintenance (O&M) program (12/14/17)

---

Guide Bulletin Update 1 2/12/24 Chapter 66 – Page 7 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 66 – Conventional/TAH 
Physical Risk  Report  Requirements  
• Identify the items needing repair or replacement that are beyond the scope of regular 
maintenance but are necessary to maintain the overall condition of the Property  
• Provide an assessment of the Property that  
• Projects the need for replacements and repairs for the term of the Mortgage plus two years, to a maximum of 12 years  
• Identifies and quantifies the needs and the annual costs after accounting for the inflation factor as indicated in Section VI of Form 1108, Physical Risk Report  
Freddie Mac will review the consultant’s assessment and determine the actual Replacement Reserve amount.  For a Mortgage with a term of more than 10 years, see Section 39.6(f) for 
additional Replacement Reserve requirements.  
 
For Seniors Housing Mortgages, see additional requirements for the Replacement Reserve 
analysis in Section 21.16(e).  
 For Manufactured Housing Communities Mortgages, see additional requirements for the 
Replacement Reserve analysis in Section 22.2(i). 
 
d. Remediation and retesting (12/14/17)  
Refer to Section 61.4(b).
 
e. Operations and maintenance (O&M) program (12/14/17)  
Refer to Section 61.4(c).  
f. Specific requirements for the Physical Risk Report ( 12/14/2 3) 
The Physical Risk Report must be completed and dated within six months prior to the date on 
which the full underwriting package is delivered to Freddie Mac.  
 
The site inspection supporting the Physical Risk Report, and the supporting environmental database report, must be dated within 30 days prior to the date of the Physical Risk Report.  
 The Physical Risk Report must be certified by the physical risk consultant and clearly  
 
• Identify all conditions present during the inspection 
• Identify all parties present during the site visit and  contacted for data or information required 
for the report  
 
• State any limiting conditions and the intended purpose of the report  
 
• Identify any deviations from the Guide requirements and the most recent version of ASTM 
standards E2018 and E1528 as well as applicable environmental regulations established by 
the Environmental Protection Agency (EPA)

Guide Bulletin Update 1 2/12/24 Chapter 66 – Page 7 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 66 – Conventional/TAH 
Physical Risk  Report  Requirements  
• Identify the items needing repair or replacement that are beyond the scope of regular 
maintenance but are necessary to maintain the overall condition of the Property  
• Provide an assessment of the Property that  
• Projects the need for replacements and repairs for the term of the Mortgage plus two years, to a maximum of 12 years  
• Identifies and quantifies the needs and the annual costs after accounting for the inflation factor as indicated in Section VI of Form 1108, Physical Risk Report  
Freddie Mac will review the consultant’s assessment and determine the actual Replacement Reserve amount.  For a Mortgage with a term of more than 10 years, see Section 39.6(f) for 
additional Replacement Reserve requirements.  
 
For Seniors Housing Mortgages, see additional requirements for the Replacement Reserve 
analysis in Section 21.16(e).  
 For Manufactured Housing Communities Mortgages, see additional requirements for the 
Replacement Reserve analysis in Section 22.2(i). 
 
d. Remediation and retesting (12/14/17)  
Refer to Section 61.4(b).
 
e. Operations and maintenance (O&M) program (12/14/17)  
Refer to Section 61.4(c).  
f. Specific requirements for the Physical Risk Report ( 12/14/2 3) 
The Physical Risk Report must be completed and dated within six months prior to the date on 
which the full underwriting package is delivered to Freddie Mac.  
 
The site inspection supporting the Physical Risk Report, and the supporting environmental database report, must be dated within 30 days prior to the date of the Physical Risk Report.  
 The Physical Risk Report must be certified by the physical risk consultant and clearly  
 
• Identify all conditions present during the inspection 
• Identify all parties present during the site visit and  contacted for data or information required 
for the report  
 
• State any limiting conditions and the intended purpose of the report  
 
• Identify any deviations from the Guide requirements and the most recent version of ASTM 
standards E2018 and E1528 as well as applicable environmental regulations established by 
the Environmental Protection Agency (EPA)