# 31.21 General requirements applicable to all property and liability insurance documentation (07/15/2

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_1526
**Pages:** 600-600
**Section Path:** Title, Insurance, Final Delivery, Warehousing and File Retention (Chs 29-35) > 31 - Insurance reqs GB-12-16-25 > 31.21 General requirements applicable to all property and liability insurance documentation (07/15/25)

---

Guide Bulletin Update 12/16/25 Chapter 31 – Page 30 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 31 – Insurance Requirements  
 
• Mortgage Bankers Association (MBA) Evidence of Insurance – Commercial Property 
Form  
 
• For NFIP flood insurance, NFIP policy declaration page  
 
• For private flood insurance, copy of the flood insurance policy(ies)  
 
31.21  General requirements applicable to all property and liability insurance 
documentation ( 07/15/25) 
The Seller/Servicer must ensure that all of the following elements are included in the evidence of 
insurance documentation:  
 
• Borrower, Borrower Principal, or affiliated management company as Named Insured  
 
• Complete Property address  
 
• Mortgagee and Additional Insured endorsements  
 
• Policy effective dates evidencing current coverage  
 
• Policy notice of cancellation provisions  
 
• Coverage limits, sublimits, and deductibles  
 
• Information clearly stating whether terrorism coverage is included  
 
• If flood insurance is required, information indicating limits and deductibles specifically 
applicable to buildings located in SFHA  
 
31.22  Verification of required and continuing property and liability insurance coverage  
(07/15/25) 
a. Required coverage (0 7/15/25) 
The Servicer must ensure that all insurance coverage required by the Purchase and 
Servicing Documents is in place for the life of the Mortgage.  This may include : 
 
• Adding coverage that is not currently in place (for example, FEMA has determined the 
Property is now in an SFHA and flood insurance is now required), and/or  
 
• Increasing the coverage (for example, the IV of the improvements on the Property has 
increased and the insurance coverage must be updated).  
 
In addition, if there is insurance coverage in force on the Property that is no longer required 
by Freddie Mac (for example, FEMA has determined the Property is no longer in an SFHA 
and flood insurance is not required) the Servicer must provide the appropr iate documentation 
to notify Freddie Mac MF_Insurance_Compliance@freddiemac.com  and explain that the 
insurance is no longer required.

Guide Bulletin Update 12/16/25 Chapter 31 – Page 30 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 31 – Insurance Requirements  
 
• Mortgage Bankers Association (MBA) Evidence of Insurance – Commercial Property 
Form  
 
• For NFIP flood insurance, NFIP policy declaration page  
 
• For private flood insurance, copy of the flood insurance policy(ies)  
 
31.21  General requirements applicable to all property and liability insurance 
documentation ( 07/15/25) 
The Seller/Servicer must ensure that all of the following elements are included in the evidence of 
insurance documentation:  
 
• Borrower, Borrower Principal, or affiliated management company as Named Insured  
 
• Complete Property address  
 
• Mortgagee and Additional Insured endorsements  
 
• Policy effective dates evidencing current coverage  
 
• Policy notice of cancellation provisions  
 
• Coverage limits, sublimits, and deductibles  
 
• Information clearly stating whether terrorism coverage is included  
 
• If flood insurance is required, information indicating limits and deductibles specifically 
applicable to buildings located in SFHA  
 
31.22  Verification of required and continuing property and liability insurance coverage  
(07/15/25) 
a. Required coverage (0 7/15/25) 
The Servicer must ensure that all insurance coverage required by the Purchase and 
Servicing Documents is in place for the life of the Mortgage.  This may include : 
 
• Adding coverage that is not currently in place (for example, FEMA has determined the 
Property is now in an SFHA and flood insurance is now required), and/or  
 
• Increasing the coverage (for example, the IV of the improvements on the Property has 
increased and the insurance coverage must be updated).  
 
In addition, if there is insurance coverage in force on the Property that is no longer required 
by Freddie Mac (for example, FEMA has determined the Property is no longer in an SFHA 
and flood insurance is not required) the Servicer must provide the appropr iate documentation 
to notify Freddie Mac MF_Insurance_Compliance@freddiemac.com  and explain that the 
insurance is no longer required.