# e. Licenses and certificates (04/14/22) + f. Occupancy requirements (12/15/20)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_929
**Pages:** 394-394
**Section Path:** Originating Cash and Bond Credit Enhancement Mortgages (Chs 17-28A) > 21 - Originating Seniors Housing Mortgages GB-08-26-25 > 21.3 Mortgage eligibility and credit underwriting requirements (04/22/25) > e. Licenses and certificates (04/14/22)

---

Guide Bulletin Update 08/26/25 Chapter 21 – Page 8 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 21 – Originating a Mortgage under the Multifamily 
Seniors Housing Project  
c. Eligible Borrower (0 4/13/23 ) 
A Seniors Housing Borrower or Key Borrower Principal must demonstrate eligibility by 
meeting all of the following criteria:  
 
• Own or manage comparable facilities in a similar property type (Independent Living 
Property, Assisted Living Residence, Skilled Nursing Property or CCRC) in similar or 
adjoining markets  
 
• Have ten or more years' ownership or management experience  
 
• Own or manage a minimum of five properties with at least 500 units  
  
d. Habitability (09/08/04)  
The Property must meet the requirements of Section 8.2(a) and be designed for the type of 
seniors care provided, including adequate and appropriate space for congregate and resident 
care services.  The Property must provide adequate security to monitor residents based on 
their frailty level or care needs.  The Property must meet or exceed local building and safety 
codes and have sprinkler systems.  
 
e. Licenses and certificates (0 4/14/22 ) 
Any and all licenses, certificates and permits required for operation of the Property must be 
current and in full force and effect.  The Seller must provide copies of these licenses, 
certificates and permits to Freddie Mac as part of the applicable underwriting package (see 
Section 21.5 and Chapter 55 ).  
 
If any license is in the name of anyone other than the Borrower, that arrangement must be 
satisfactory to Freddie Mac in its discretion.  The determination of whether such arrangement 
is acceptable will be made by Freddie Mac in its discretion upon receipt and review of the full 
underwriting  package . 
 
For each party other than the Borrower that holds any license, the Borrower must provide the 
Certificate of [Operator][Property Manager] – Seniors Housing.  
 
Prior to Mortgage purchase, all pending violations affecting the issuance, validity or 
continuation of a license, certificate or permit must be corrected or Freddie Mac must 
approve all plans for correcting such violations and any pending investigation by any 
governmental or regulatory authority must be resolved to the satisfaction of Freddie Mac.  
 
f. Occupancy requirements ( 12/15/20 ) 
A Seniors Housing Property must have demonstrated a stabilized occupancy for the trailing 
three -month average prior to underwriting  and must have been occupied for at least 12 
months.  A Property is considered occupied if a certificate of occupancy has been issued and 
tenants have begun to move in.  
 
Stabilized occupancy is defined as occupancy of at least 85 percent of the living units (or 
such higher level as may be necessary to cover debt service and pay all other expenses at

Guide Bulletin Update 08/26/25 Chapter 21 – Page 8 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 21 – Originating a Mortgage under the Multifamily 
Seniors Housing Project  
c. Eligible Borrower (0 4/13/23 ) 
A Seniors Housing Borrower or Key Borrower Principal must demonstrate eligibility by 
meeting all of the following criteria:  
 
• Own or manage comparable facilities in a similar property type (Independent Living 
Property, Assisted Living Residence, Skilled Nursing Property or CCRC) in similar or 
adjoining markets  
 
• Have ten or more years' ownership or management experience  
 
• Own or manage a minimum of five properties with at least 500 units  
  
d. Habitability (09/08/04)  
The Property must meet the requirements of Section 8.2(a) and be designed for the type of 
seniors care provided, including adequate and appropriate space for congregate and resident 
care services.  The Property must provide adequate security to monitor residents based on 
their frailty level or care needs.  The Property must meet or exceed local building and safety 
codes and have sprinkler systems.  
 
e. Licenses and certificates (0 4/14/22 ) 
Any and all licenses, certificates and permits required for operation of the Property must be 
current and in full force and effect.  The Seller must provide copies of these licenses, 
certificates and permits to Freddie Mac as part of the applicable underwriting package (see 
Section 21.5 and Chapter 55 ).  
 
If any license is in the name of anyone other than the Borrower, that arrangement must be 
satisfactory to Freddie Mac in its discretion.  The determination of whether such arrangement 
is acceptable will be made by Freddie Mac in its discretion upon receipt and review of the full 
underwriting  package . 
 
For each party other than the Borrower that holds any license, the Borrower must provide the 
Certificate of [Operator][Property Manager] – Seniors Housing.  
 
Prior to Mortgage purchase, all pending violations affecting the issuance, validity or 
continuation of a license, certificate or permit must be corrected or Freddie Mac must 
approve all plans for correcting such violations and any pending investigation by any 
governmental or regulatory authority must be resolved to the satisfaction of Freddie Mac.  
 
f. Occupancy requirements ( 12/15/20 ) 
A Seniors Housing Property must have demonstrated a stabilized occupancy for the trailing 
three -month average prior to underwriting  and must have been occupied for at least 12 
months.  A Property is considered occupied if a certificate of occupancy has been issued and 
tenants have begun to move in.  
 
Stabilized occupancy is defined as occupancy of at least 85 percent of the living units (or 
such higher level as may be necessary to cover debt service and pay all other expenses at