# B7-4-01, General Liability Insurance Requirements for Project Developments (12/14/2022) + B7-4-02, F

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_403
**Pages:** 900-903
**Section Path:** Part B, Origination Through Closing > Subpart B7, Insurance > Chapter B7-4, Liability and Fidelity/Crime Insurance Requirements for Project Developments > B7-4-01, General Liability Insurance Requirements for Project Developments (12/14/2022)

---

Published March 4, 2026
882Notice of Cancellation for Property Insurance
The following requirements apply to individual property insurance policies maintained by the borrower and do
not apply to master property insurance policies for project developments.
The following table provides the requirements for notice of cancellation on property insurance policies.
Project Type Requirement for Notice of Cancellation
One- to four-unit
properties
The property insurance policy must provide for written notice to the named insured and
mortgagee(s) before the insurer can cancel the policy. Individual units
in a project
development
 
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2022-10 December 14, 2022
Announcement SEL-2021-11 December 15, 2021
 
Chapter B7-4, Liability and Fidelity/Crime Insurance
Requirements for Project Developments
Introduction
This chapter describes the requirements for liability and ﬁdelity/crime insurance for project developments.

Published March 4, 2026
883B7-4-01, General Liability Insurance Requirements for Project
Developments (12/14/2022)
Introduction
This topic contains information on general liability insurance requirements, including:
Determining if General Liability Insurance is Required
Coverage Requirements
Determining the Required Coverage Amount
Named Insured
Determining if General Liability Insurance is Required
General liability insurance is required for all condo and co-op projects, with the following exceptions:
projects that qualify for a waiver of project review as described in  B4-2.1-02, Waiver of Project Review , or
condo projects reviewed under the Limited Review method as described in  B4-2.2-01, Limited Review
Process .
Coverage Requirements
When required, the HOA or co-op corporation must maintain a general liability insurance policy for the entire
project. The general liability insurance policy must include coverage for:
commercial spaces that are owned by the HOA or co-op corporation, even if they are leased to others,
and
bodily injury and property damage that results from the operation, maintenance, or the use of the
project's common elements, and any other areas that are under its supervision.
The general liability insurance policy must include a separation of insureds or severability of interests provision
in its terms. If the policy does not include separation of insureds or severability of interests in its terms, Fannie
Mae requires a speciﬁc endorsement to preclude the insurer's denial of a unit owner's claim because of
negligent acts of the HOA or co-op corporation or of other unit owners.
Determining the Required Coverage Amount
The amount of coverage must be at least $1 million for bodily injury and property damage for any single
occurrence.
Named Insured
The general liability insurance policy must designate the HOA or co-op corporation as the named insured with

Published March 4, 2026
884the premiums paid as a common expense by the HOA or co-op corporation.
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2022-10 December 14, 2022
 
B7-4-02, Fidelity/Crime Insurance Requirements for Project
Developments (12/14/2022)
Introduction
This topic contains information on ﬁdelity/crime insurance requirements, including:
Determining if Fidelity/Crime Insurance is Required
Coverage Requirements
Determining the Required Coverage Amount
Named Insured
Determining if Fidelity/Crime Insurance is Required
Fidelity/crime insurance is required for all condo and co-op projects, with the following exceptions:
projects that qualify for a waiver of project review as described in  B4-2.1-02, Waiver of Project Review , 
condo projects reviewed under the Limited Review method as described in  B4-2.2-01, Limited Review
Process ,
condo or co-op projects consisting of 20 units or less, or
condo or co-op projects that would need ﬁdelity/crime insurance coverage of $5,000 or less (based on the
calculations described in Determining the Required Coverage Amount ).
Coverage Requirements
When required, the HOA or co-op corporation must have ﬁdelity/crime insurance coverage for the dishonest or
fraudulent acts of anyone who either handles or is responsible for funds held or administered for the HOA or co-
op corporation. Fidelity/crime insurance is required whether or not that individual receives compensation for
services rendered. Accordingly, the HOA or co-op corporation ﬁdelity/crime insurance policy must include
coverage for the acts of any management agent.

Published March 4, 2026
885A management agent that handles funds for the HOA or co-op corporation should additionally be covered by its
own ﬁdelity/crime insurance policy, however, a ﬁdelity/crime insurance policy maintained by the management
agent (with the management agent as the named insured) is not an acceptable alternative for a ﬁdelity/crime
insurance policy in the HOA or co-op corporation's name that provides coverage for the acts of all parties with
access to their funds, including the management agent.
Determining the Required Coverage Amount
When ﬁdelity/crime insurance is required, the lender or servicer must review the project legal documents or
other source acceptable to the lender or servicer to verify whether the HOA or co-op corporation and any
associated management company adhere to one or more of the ﬁnancial controls listed below:
Separate bank accounts are maintained for the working account and the reserve account, each with
appropriate access controls, and the bank in which funds are deposited sends copies of the monthly bank
statements directly to the HOA or co-op corporation.
The management company maintains separate records and bank accounts for each HOA or co-op
corporation that uses its services, and the management company does not have the authority to draw
checks on, or transfer funds from, the reserve account of the HOA or co-op corporation.
Two members of the Board of Directors must sign any checks written on the reserve account.
The following table describes how to determine the minimum required amount of ﬁdelity/crime insurance.
If the HOA or co-op
corporationThen the ﬁdelity/crime insurance coverage amount must
equal at least...
adheres to one or more of
the ﬁnancial controls abovethe sum of three months of assessments on all units in the
project.
does not adhere to one or
more of the ﬁnancial controls
abovethe maximum funds that are in the custody of the HOA or co-op
corporation, or its management agent, at any time.
Note:  In states that have statutory ﬁdelity/crime insurance requirements, Fannie Mae accepts those
requirements in place of its own.
Named Insured
The ﬁdelity/crime insurance policy must designate the HOA or co-op corporation as the named insured with
premiums paid as a common expense by the HOA or co-op corporation.
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.