# Loan_Program_Requirements

**Source:** sop_technical_updates_effective.pdf
**Chunk ID:** sop_technical_updates_effective_146
**Pages:** 407-407
**Section Path:** Loan_Program_Requirements

---

SOP 50 10 8  Appendix  3: Definitions  
Effective  June 1, 2025  Page 407 Key Employee (of a n SBA  Lender) : Senior Managers, members of loan committees, and a ny 
Person  (as defined in 13 CFR § 120.10 ) hired by the lender  who has a meaningful participation 
in the direction of the operations, policies , or financial decisions of the lend er. 
Lead  District  Office :  
1. For the 7(a) Loan Program: The SBA district office or branch office serving the 
geographic area where the Lender’s principal office is located; and  
2. For the 504 Loan Program: The Lead SBA Office as defined in 13 CFR § 120.802 : “The 
SBA District Office designated by SBA as the primary liaison between SBA and a CDC 
and with responsibility fo r managing SBA’s relationship with that CDC.”  
Search SBA District Offices here  
Lender or 7(a) Lender : (13 CFR § 120.10  7(a)) An institution that has executed a participation 
agreement with SBA under the guaranteed loan program . 
Lender Oversight Committee  (LOC) : (13 CFR § 120.10  7(a) and 504) A  committee 
established within SBA  by legisla tion, which meets at least quarterly, and which has the 
membership and duties set forth in § 48 of the Small Business Act as further outlined in 
delegations of authority published in the Federal Register. The LOC’s duties include , but are not 
limited to, r eviewing (in an advisory capacity) any lender oversight, portfolio risk management, 
or program integrity matters brought by the D/OCRM, and voting on formal enforcement act 
recommendations.  
Lender Service Provider : (13 CFR § 103.1(d) ) An Agent who carries out lender functions in 
originating, disbursing, servicing, or liquidating a specific SBA business loan or loan portfolio 
for compensation from the lender. SBA determines whether or not one is a “Lender Service 
Provider” on a loan -by-loan basis.  
Limited or Special Purpose Property: (504) A limited -market property with a unique physical 
design, special construction materials, or a layout that restricts its utility to the use for which it 
was built.  
Loan Instruments : (13 CFR § 120.10  7(a) and 504) T he note, instruments of hypothecation, and 
all other agreements and documents related to a loan.  
Loan Program Requirements : (13 CFR § 120.10  7(a) and 504) R equirements imposed upon 
Lenders , CDCs , or Intermediaries  by statute ; SBA and applicable government -wide regulations ; 
any agreement the Lender , CDC , or Intermediary  has executed with SBA ; SBA SOPs ; Federal 
Register notices; official SBA notices and forms applicable to the 7(a) Loan Program, 504 Loan 
Program , or Microloan Program;  and E-Tran Terms and Conditions , as such requirements are 
issued and revised by SBA from time to time. For CDCs, this term also includes requirements 
imposed by Debentures, as that term is defined in 13 CFR § 120.802 . For Intermediaries, this 
term also includes requirements imposed by promissory notes, collateral documents, and grant 
agreements.  
Local Economic Area:  (13 CFR § 120.802  504) An area, as determined by SBA, that is in a 
State other than the State in which an existing CDC (or an applicant applying to  become a CDC) 
is incorporated, i s contiguous to the CD C’s existing Area of Operations (or the applican t’s 
proposed Area of Operations) of its State of incorporation, and is a part of a local trade area that 
is contiguous to the CD C’s Area of Operations (or applican t’s proposed Area of Op erations) of