# 65.3 Green Assessment requirements (12/16/25)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_2612
**Pages:** 1175-1175
**Section Path:** Third-Party Reports (Chs 60-69) > 65 - Green Assessment Reqs GB-12-16-25 > 65.3 Green Assessment requirements (12/16/25)

---

Guide Bulletin Update 12/16/25 Chapter 65 – Page 4 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 65 – Green  Assessment  Requirement s 
 Green Assessment  requirements  (12/16/25) 
a. General requirements for Green Assessment  (12/16/25 ) 
The Utility Efficiency  Consultant’s work must be based on the American Society of Heating, 
Refrigeration and Air Conditioning Engineers (ASHRAE) Level 1 Standard (contained in 
“Procedures for Commercial and Energy Audits, Second Edition ,” as amended from time to time) 
and the requirements of this Chapter 65.  
 
1. Each Green Assessment  must  
 
a. Be prepared by a Utility Efficiency  Consultant who meets the qualifications and 
requirements stated in Section 65.7  
 
b. Include information disclosed by an inspection of the Property  
 
c. Meet the requirements of Sections 65.4 and 65.5  
 
d. Clearly state any limiting conditions and the intended purpose of the Green Assessment  
 
e. Identify deviations from the Guide requirements and the most recent  
version of the applicable ASHRAE level standard  
 
f. Be dated within six months prior to the date on which the full underwriting package is 
delivered to Freddie Mac  
 
g. Be submitted on Form 1106, Green Assessment  
 
2. The Green Assessment  also must include the following:  
 
a. All information the Utility Efficiency  Consultant reviewed, including all data and records 
provided by the Borrower and documentation reviewed in accordance with Section 62.4.  
Key documents, such as renovation scope of work and budgets, should be included in the 
report appendix  
 
b. Sufficient standard -size color photographs as are necessary to illustrate the equipment 
and conditions discussed in the Green Assessment .  The Utility Efficiency  Consultant must 
determine the number of photographs that will be necessary and include the photographs 
in the appendix, with a narrative describing each photograph . 
 
c. The resume of the individual performing the on -site inspection  
 
d. The resume of the individual conducting the energy and water analysis, if different from 
the individual who performed the inspection  
 
3. The Green Assessment  must include the following reliance provisions: