# a. Professional liability (PL) insurance requirements (10/21/25) + b. Deductibles and self-insured r

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_1514
**Pages:** 595-596
**Section Path:** Title, Insurance, Final Delivery, Warehousing and File Retention (Chs 29-35) > 31 - Insurance reqs GB-12-16-25 > 31.17 Professional liability insurance requirements for certain Seniors Housing Mortgages (10/21/25) > a. Professional liability (PL) insurance requirements (10/21/25)

---

Guide Bulletin Update 12/16/25 Chapter 31 – Page 25 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 31 – Insurance Requirements  
 
o By the Borrower in a segregated bank account  
  
o By the Seller/Servicer in a tax and insurance escrow, or  
 
o By a third party on behalf of the Borrower  
 
• For existing Mortgages, if the Borrower is unable to obtain a policy with the maximum 
deductibles allowed within the sections of this chapter, the Servicer may approve 
expanded deductibles per Section 31.5 (b) 
  
c. Workers Compensation  (05/22/25) 
The Borrower must maintain Workers Compensation and Employer Liability insurance 
(including terrorism coverage) if required by the State where the Property is located.  The 
coverage amounts must meet Statutory limits.  
 
31.17  Professional liability insurance requirements for certain Seniors Housing 
Mortgages (10/21/25) 
a. Professional liability (PL) insurance requirements ( 10/21/25) 
If any level of health care is provided at a Seniors Housing  Property , the Borrower must 
maintain  professional liability insurance  covering errors and omissions, medical malpractice, 
and all types of abuse . 
 
The professional liability policy may be written on a Claims Made Policy Form or an 
Occurrence -based Policy Form.  If the Borrower changes from a Claims Made Policy Form to 
an Occurrence -based  Policy Form, a Supplemental Extended Reporting Period (a lso known 
as a Tail) endorsement must be obtained to prevent a gap in coverage.   Terrorism insurance 
is not required for Professional Liability policies.  
 
1. Borrower must maintain primary professional liability coverage of:  
 
• $1 million per claim or per occurrence  
 
• $2 million in the general aggregate  
 
If the professional liability policy covers multiple locations, the aggregate limits must apply 
per location.  
 
2. In addition, the Borrower must maintain the following minimum umbrella or excess 
professional liability coverage:  
 
Total number of licensed beds covered 
by the policy  Minimum Umbrella/Excess Coverage  
Less than or equal to 100  $2 million  
101 to 500  $5 million  
501 to 1,000  $10 million

Guide Bulletin Update 12/16/25 Chapter 31 – Page 26 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 31 – Insurance Requirements  
Greater than 1,000  $20 million  
 
The minimum coverage limits in this section may be satisfied with any combination of 
primary PL, umbrella and/or excess  liability limits, provided the aggregate coverage 
meets the required minimum limits .  If CGL and PL insurance coverages are combined, 
the required umbrella and/or excess liability  limit is the higher of the two requirements.   
Note that assisted -living and independent -living beds are not counted when determining 
the umbrella/excess coverage.  
 
b. Deductibles and self -insured retention (SIR) ( 10/21/25) 
Freddie Mac allows  the following maximum deductible or SIR, or combined deductible and 
SIR for Professional Liability : 
 
• $50,000 for policies insuring a single property  
 
• $250,000 for blanket policies covering multiple properties  
 
Policies that include aggregate deductibles or SIRs are acceptable if the Seller/Servicer 
confirms  the aggregate deductible amount is fully funded and held :  
 
• By the Borrower in a segregated bank account,  
 
• By the Seller/Servicer in a tax and insurance escrow, or  
 
• By a third party on behalf of the Borrower  
 
For existing Mortgages, if the Borrower is unable to obtain a policy with the maximum 
deductibles allowed within the sections of this chapter, the Servicer may approve expanded 
deductibles per Section 31.5 (b). 
  
31.18  Cooperative (Co -op) requirements (10/21/25) 
a. Fidelity bond/crime insurance coverage ( 10/21/25) 
The Seller/Servicer must ensure that each Co -op Borrower maintains fidelity bond/crime 
insurance coverage for the Co -op's employees, officers and board members.  The minimum 
coverage required includes  three  months of scheduled Cooperative Maintenance Fees with a 
maximum deductible of $25,000. 
 
b. Co-op directors’ and officers’ liability insurance ( 10/21/25) 
The Seller/Servicer must ensure that each Co -op maintains directors’ and officers’ liability 
insurance as follows:  
 
• Minimum coverage of $1 million per  claim or per  occurrence  
 
• Maximum deductible of $ 50,000