# d. Guarantor requirements (12/16/25) + e. Foreign Borrower Principal (including Foreign Guarantor) (

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_581
**Pages:** 266-267
**Section Path:** Property, Borrower and Credit Underwriting (Chs 8-11) > 09SBL - SBL Borrower Fundamentals GB-12-16-25 > 9SBL.2     Borrower and Borrower Principal requirements (12/16/25) > d. Guarantor requirements (12/16/25)

---

Guide Bulletin Update 12/16/25 Chapter 9SBL  – Page 5 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 9SBL  – SBL Borrower/Borrower Principal 
Fundamentals  
(i) Does not individually meet the criteria noted in Section 9SBL.2 (c)(2) above when  the 
Seller/Servicer received Freddie Mac approval to deliver a full underwriting package , 
or  
 
(ii) Is a First -Time Sponsor  or Rapid Growth Sponsor , both of which are defined below ,  
 
These parties are subject to the following requirements : 
 
• Liquidity verification documentation (See Section 55SBL.2)  
 
• A Form 1116 , Real Estate Schedule,  that complies with the verification and record 
retention requirements set forth  in Section 11.6 (b) and (c)  
 
• Sponsor Meeting (See Section 11.8)  
 
First -Time Sponsor:   When neither the Key Borrower Principal nor its Ultimate Control, 
when applicable, has transacted multifamily business in a similar role in the past 10 years 
with Freddie Mac.  
 
Rapid Growth Sponsor:  When the Key Borrower Principal meet s the following conditions:  
 
(i) Controls at least 15 multifamily properties, and  
 
(ii) At least 50% of those multifamily properties Controlled by Key Borrower Principal were 
purchased within the past three  years  
 
Notwithstanding that a Key Borrower Principal meets the above conditions, it will not be 
considered a Rapid Growth Sponsor if the Key Borrower Principal’s Ultimate Control, if 
applicable, provides appropriate supporting documentation evidencing that such U ltimate 
Control does not meet the above conditions.  
 
d. Guarantor requirements ( 12/16/25) 
In addition to the Borrower Principal requirements in Section 9SBL.2(c), a Guarantor must 
satisfy all of the following requirements:  
 
• At least one Guarantor must have Control of the Borrower (including through an entity)  
 
• Guarantors must demonstrate a minimum net worth that is equal to the SBL Mortgage 
amount, including any adjustments required for Guarantors, based on a review of their real 
estate schedule .  When more than one Guarantor is present, the aggregate of the adjusted 
values based on a review of their real estate schedule will be used . 
• Demonstrate Liquidity equal to nine months of amortizing debt service before origination of 
the SBL Mortgage  
 
• Must not be involved in any active bankruptcy, foreclosure, deed in lieu of foreclosure, or 
other liquidation proceeding, either directly or through any entities owned in whole or in part

Guide Bulletin Update 12/16/25 Chapter 9SBL  – Page 6 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 9SBL  – SBL Borrower/Borrower Principal 
Fundamentals  
by the Guarantor  
 
• If an individual, must have  an average  FICO® score of 680 or better with all three national 
credit bureaus (Equifax, TransUnion or Experian) .  If less than three FICO scores are 
available, all FICO scores must be  680 or better  
 
• If an entity, must provide evidence of at least twice the minimum net worth and Liquidity 
requirements  
 
e. Foreign Borrower Principal (including Foreign Guarantor) (0 2/22/24) 
Freddie Mac may approve a Borrower Principal that is any of the following:  
 
• Not a United States entity  
 
• Not a United States citizen  or lawful permanent resident of the United States  
 
• A United States citizen or lawful permanent resident of the United States who does not 
reside in the United States  
 
Freddie Mac may also approve such a Borrower Principal as a Guarantor (Foreign Guarantor) 
provided each of the following requirements apply:  
 
• Foreign Guarantor must manage and/or own United States real estate assets other than 
the Property, and have a demonstrated understanding of United States real estate 
practices,  
 
• Foreign Guarantor must appoint an unaffiliated agent in the United States acceptable to 
Freddie Mac for service of process on behalf of the Guarantor (for example, an attorney or 
a company whose business is to accept service of process for its customers), and  
 
• If there is no financially compliant United States Guarantor, the Foreign Guarantor (s) must:  
 
o Provide evidence of at least 2x the minimum net worth and Liquidity requirements . 
 
o Maintain a minimum Liquidity in one or more U.S. bank accounts equal to five percent 
of the original principal balance of the SBL Mortgage, or such other amount as Freddie 
Mac may require; the bank(s) holding the account must be acceptable to Freddie Mac .  
This requirement may be satisfied in the aggregate by the Foreign Guarantor (s) 
exclusive of any U.S. Guarantor Liquidity.  
 
o If there is one or more Foreign Guarantor (s) and no financially compliant U.S. 
Guarantor , the minimum Foreign Guarantor net worth and Liquidity requirements may 
be satisfied in the aggregate by the Foreign Guarantors and any non -compliant U.S. 
Guarantors . 
 
f. Reserved (09/26/19)  
 
g. Borrower requirements specific to Crowdfunding (02/28/20)  
No direct or indirect interest in Borrower may consist of investments raised via Crowdfunding.