# g. Final delivery requirements (09/01/16)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_752
**Pages:** 333-333
**Section Path:** Originating Cash and Bond Credit Enhancement Mortgages (Chs 17-28A) > 18SBL - Originating SBL Mortgages GB -12-16-25 > 18SBL.1     Overview (04/22/25) > g. Final delivery requirements (09/01/16)

---

Guide Bulletin Update 12/16/25  Chapter 18SBL – Page 4 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 18SBL – Originating an SBL Mortgage  
c. Types of SBL Mortgages (06/30/16)  
Freddie Mac may purchase any or all of the following types of SBL Mortgages:  
 
• Fixed -rate SBL Mortgages in which the interest rate is unchanged for the entire SBL 
Mortgage term.  (See Section 18SBL.2)  
 
• Fixed to floating -rate “Hybrid ARM” SBL Mortgages in which the interest rate is fixed for 
an initial set term and is then adjusted periodically until the end of the term of the SBL 
Mortgage. (See Section 18SBL.2)  
 
• Other types of SBL Mortgages as announced by Freddie Mac from time to time  
  
d. Securitization of Mortgages and transfer of Servicing (06/30/16)   
At the time of a securitization of an SBL Mortgage, as described in Chapter 46SBL, Freddie 
Mac will cease to own the applicable Mortgage and Servicing of the applicable SBL Mortgage 
will be terminated and transferred to a master servicer without compensati on to the 
Seller/Servicer.  Seller/Servicer must cooperate with all transfers of Servicing and SBL 
Securitization provisions described in Chapter 46SBL.  
 
e. Delivery options (10/12/17)  
For SBL Mortgages, Freddie Mac offers only the Standard delivery underwriting delivery 
option.  The SBL Mortgage terms, conditions and interest rate are fixed after receipt and 
approval of the full underwriting package.  For detailed information about standard delivery, 
see Sections 18SBL.3 through 18SBL.9.  
 
f. Minimum Origination Fee (12/14/18)  
A Seller must charge a Minimum Origination Fee in connection with the origination and sale of 
an SBL Mortgage to Freddie Mac as specified in the Freddie Mac Multifamily Small Balance 
Loan Pricing Grid Explanation  document.  
 
The Seller may satisfy the requirement for a Minimum Origination Fee with any combination 
of a premium buy -up and an origination fee.  
 
The Minimum Origination Fee must be collected by the Seller and may not be used to 
reimburse closing costs.  
  
g. Final delivery requirements (09/01/16)  
Chapter 32 contains the requirements for final delivery of SBL Mortgages to Freddie Mac.