# B8-2-03, Signature Requirements for Security Instruments (10/22/2013)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_411
**Pages:** 909-909
**Section Path:** Part B, Origination Through Closing > Subpart B8, Closing: Legal Documents > Chapter B8-2, Security Instruments > B8-2-03, Signature Requirements for Security Instruments (10/22/2013)

---

Published March 4, 2026
891used, which must be attached to the security instrument and included in the loan ﬁle.
The security instrument must state that the manufactured home is an improvement to the land and an
immovable ﬁxture, or must include similar language as may be required by applicable law to assure, to
the greatest extent possible, that the manufactured home is treated as real property under applicable
state law. If applicable law provides speciﬁc obligatory wording, such wording must be used.
The borrower(s) and any lender with a personal property security interest in the manufactured home
must sign an Aﬃdavit of Aﬃxture that acknowledges their intent for the manufactured home to be
permanently part of the real property that secures the mortgage free of any personal property security
interest. It must also contain any speciﬁc language that may be required by applicable law.
The Aﬃdavit must be signed by both the lender and the borrower(s), preferably recorded, and must be retained
in the loan ﬁle.
Failure to include the Aﬃdavit of Aﬃxture in the loan ﬁle may result in the loan being ineligible for delivery to
Fannie Mae.
If state law requires a Uniform Commercial Code (UCC) ﬁling in order to perfect a security interest in a
manufactured home, the lender must make such ﬁling in any and all appropriate locations.
Uniform Appraisal Dataset (UAD) 3.6 Policy
Lenders using UAD 3.6 must follow the requirements in the  UAD 3.6 Policy Supplement  .
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2025-10 December 10, 2025
Announcement SEL-2020-05 September 02, 2020
 
B8-2-03, Signature Requirements for Security Instruments
(10/22/2013)
Introduction
This topic contains information on:
Borrowers’ Signatures on Security Instruments