# 64.12 Level 1 SRA Consultant qualifications and requirements (12/15/16)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_2580
**Pages:** 1154-1154
**Section Path:** Third-Party Reports (Chs 60-69) > 64 - Seismic Risk Assessment Req GB-12-15-22 > 64.12 Level 1 SRA Consultant qualifications and requirements (12/15/16)

---

Guide Bulletin Update 12/15/22 Chapter 64 – Page 12 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 64 – Seismic Risk Assessment 
Requirements  
 
64.11  Form 1102, Seismic Risk Assessment Summary for a Level 1 SRA ( 12/15/22 ) 
The Consultant must complete and sign Form 1102 .  Below is a description of each section:  
 
• PGA Determination  – provide the PGA as determined using the formula found in Section 
64.2(b)  
 
• Deviations to the Field Assessor’s Qualifications  – if the Senior Assessor has determined 
that a Field Assessor who does not meet the minimum qualifications in Section 64.12(a) is 
acceptable, the Senior Assessor  will provide a justification, subject to approval by Freddie Mac  
 
• Building Stability  – summarize the details regarding any building stability concerns, along 
with any recommend ations as applicable ( e.g., further engineering review, retrofit 
recommendations)  
 
• SEL-475 – for Properties with a single construction type, provide a single SEL -475.  For 
Properties in which multiple building types are present, provide a building 
address/identification, brief description of each building type and its corresponding SEL -475, 
and, when prompted, identify if the building type in question has stability concerns  
 
64.12  Level 1 SRA Consultant qualifications and requirements ( 12/15/16 ) 
Consultants who conduct the on -site inspections and complete the Level 1 SRA reports must meet 
the qualifications and requirements specified in this section.   
 
Because Freddie Mac does not approve Consultants, the Seller/Servicer must not consider any 
representation that a Consultant is approved or qualified by Freddie Mac to perform Level 1 SRAs.  
The Seller/Servicer is responsible for selecting the Consultant a nd is solely accountable for the 
Consultant's performance.  The Seller/Servicer must ensure that the consultant is qualified to 
perform the required work.  
 
a. References  and experience (12/15/16)  
The consulting company providing Level 1 SRA reports must meet the following minimum 
requirements:  
 
• A staff of qualified professionals  
 
• The ability to rapidly assess sites in all Elevated Seismic Hazard Regions of the United 
States  
 
• A significant track record completing seismic reports for commercial real estate investors  
 
• Experience working within the commercial mortgage securitization markets and rating 
agencies  
 
• A well -developed production infrastructure and documented quality control procedures