# CAPLines-Specific Loan Closing and Disbursement Requirements (part 2/3)

**Source:** sop_technical_updates_effective.docx
**Chunk ID:** sop_technical_updates_effective_114_sub_002
**Section Path:** SBA 7(a) and 504 Business Loan Requirements > Section B. 7(a) Loan Program Specific Requirements > Chapter 3: 7(a) CAPLines > Submission of Application for Guaranty for all CAPLines > CAPLines-Specific Loan Closing and Disbursement Requirements

---

If the line will be secured by fixed assets and the valuation of fixed assets is greater than their Net Book Value, an independent appraisal by a qualified individual must be obtained by the lender to support the higher valuation. The appraiser must be independent of the loan production function, not involved in the approval of the transaction, and must not have the appearance of a conflict of interest;

Obtain Borrower prepared financial statements and tax returns if the CAPLine amount is $1,000,000 or less and compiled, reviewed, or audited financial statements and tax returns if the CAPLine amount is over $1,000,000, consistent with lender’s policies governing its similarly-sized, non-SBA guaranteed commercial lines of credit;

Use financial covenants consistent with those used on Lender’s similarly-sized, non-SBA guaranteed commercial lines of credit. These balance sheet covenants such as a Current Ratio or Debt to Tangible Net Worth ratio should be tested quarterly, semi-annually, or annually, consistent with Lender’s policies governing its similarly-sized, non-SBA guaranteed commercial lines of credit; and

Monitor the lines consistent with the Lender’s policies and procedures for its similarly-sized, non-SBA guaranteed commercial lines of credit and, at a minimum, conduct a credit review including cash flow analysis, collateral analysis to ensure there is a 1:1 collateral ratio, owner/guarantor (except Supplemental Guarantors) credit review and site visit on an annual basis.

Proceeds from cash sales and receivable collections must pay down the line as collected consistent with Borrowers operating cash cycle.

If required, Lenders must report the initial disbursement consistent with their similarly-sized, non-SBA guaranteed commercial loans in accordance with Ch. 5, Para. D.4.c., Additional required documents include:, in this Section.

If the Lender will use a BBC to determine the availability of funds for disbursement the lender must adhere to the following:

Loan proceeds may be disbursed to the Borrower’s operating account. To calculate the maximum amount available for disbursement, use the following formula:


| Eligible A/R | $ |
| --- | --- |
| Multiplied by advance rate (multiplied by) | % |
| Equals A/R Borrowing Base (BB) = | $ |
| Eligible inventory | $ |
| Multiplied by advance rate (multiplied by) | % |
| Equals Inventory BB = | $ |
| Total A/R & Inventory BB: (A/R BB + Inventory BB) | $ |
| Face amount of Note | $ |
| Borrowing base (Lesser of Total A/R & Inv BB or Note) | $ |
| Subtract loan balance on books (minus) | $ |
| Equals Amount available for disbursement | $ |


No less than monthly, Lender should determine the amount of eligible assets for the borrowing base.

When advancing against receivables, Lender should:

Obtain an aging of accounts receivable and accounts payable;

Eliminate all ineligible receivables. The following types of accounts are not eligible to be included in the borrowing base:

Any invoice more than 90 days past due. Exceptions are permitted over the 90 day with SBA’s prior written concurrence. To avoid unnecessary disqualification of receivables, the Borrower may structure their receivables terms so that the due date properly reflects the cash conversion cycle (timely payment) of the customer.

If a customer is delinquent on more than 50% of its total outstanding invoices, ALL of the accounts due from that customer are ineligible. To re-establish the customer’s accounts as eligible, all delinquent accounts must be paid in full. Exceptions are permitted if the Lender obtains SBA’s prior written concurrence.

All re-billed accounts. (Re-billing is the practice of issuing a credit to a customer and re-invoicing the obligation in the current billing cycle. If the re-billing occurs on the same day in order to correct a clerical error, the accounts do not have to be excluded.)

Foreign receivables not backed by documentary or standby letters of credit, factor’s guarantee (of purchase), credit insurance (either commercial risk or commercial and political risk combinations), or Government enhancements such as those provided by the Export Import Bank or the World Bank.

Offsetting receivables and payables between the Borrower and one of its creditors (contra accounts).

Accounts due from affiliate companies.

Accounts that require subordination to other parties, such as Governmental contracts where the bonding company requires assignment of the project’s receivables.

When advancing against inventory, a Lender should:

Obtain a description of inventory and its value; and

Limit advances to the following types of inventory:

Finished Goods: Eligible if readily saleable and not obsolete.

Work in Progress: Eligible if Lender obtains SBA’s prior written concurrence.

Commodities or Raw Materials: Eligible.

The dollar amount of ineligible receivables and inventory will remain unchanged for the entire month. The actual borrowing availability may increase or decrease as the balance on the line changes and the receivables and inventory are generated or converted back to cash.

A BBC is required at least monthly to determine the amount that can be disbursed. Lender may require a BBC more frequently consistent with its policy and procedures on similarly-sized non-SBA guaranteed commercial lines of credit. Lenders may use their own forms for the BBC. A sample BBC is provided in Appendix 9.

Repayments will come from cash sales and receivable collections. Proceeds must pay down the line as collected with availability to re-advance as long as the Borrower is conforming to the maximum amount of the BBC.

If a cash collateral account is being used and a balance remains in the cash collateral account after the loan has been paid down to zero, those funds may be credited to Borrower’s operating account. There is no provision for interest only payments. Interest must be paid at least monthly either from Borrower’s own resources OR from loan proceeds at the time of an advance. Principal payments should be tied to the Borrower’s cash cycle.

Lenders must report the initial disbursement on SBA Form 1050 or Lender equivalent in accordance with Ch. 5, Para. D.4.c., Additional required documents:, in this Section.

Advance Rate for Accounts Receivable:

The maximum advance rate cannot exceed 80% of the eligible receivables. The maximum advance rate may go up to 90% of the eligible receivables if the receivable is a prime Federal contract and the Lender has obtained an assignment of the contract proceeds under the Assignment of Claims Act of 1940 (the Act), 31 U.S.C. 3727, or the Borrower is a subcontractor and the prime contractor has obtained an assignment under the Act and the contract proceeds will be disbursed by a third party funds control facility or the foreign accounts receivable are insured by the Export-Import Bank or a major private insurer. Additional exceptions may be permitted if the lender obtains SBA’s prior written concurrence. The advance rate should not include any net profit. Factors that should be taken into consideration when determining the maximum advance rate are:

Control and accounting systems of the Borrower;

Enhancements such as credit insurance;

Age of receivables;

Credit quality & Borrower’s credit policy;

Turnover history;

Industry orientation and condition; and

Net profit margin.

After initial disbursement, Lenders have unilateral authority to increase or decrease the advance rate for receivables by as much as 5% above or below the rate stated in E-Tran. Increases or decreases in the advance rate above 5% require SBA’s prior written concurrence.

Inventory Advance Rate:

The maximum advance rate cannot exceed 50% of eligible inventory. Exceptions are permitted if the lender obtains SBA’s prior written concurrence. Factors to consider when determining the maximum advance rate are:

Material and labor costs in manufacturing or invoice costs (less discounts) of resale goods in wholesale distribution;

Nature of the product;

Product liability;

Manufacturer’s buyback agreements; and

Physical location of inventory (single locations are generally easier to control than multiple locations).

After initial disbursement, Lenders have unilateral authority to increase or decrease the advance rate for inventory by as much as 5% above or below the rate stated in E-Tran. Increases or decreases in the advance rate above 5% require SBA’s prior written concurrence.

Examinations:

If the Working Capital CAPLine is over $1,000,000, Lender must conduct an annual field examination. The field examination may be conducted by the Lender’s staff or a third party. An examination is a physical verification of the assets which compose the borrowing base. Examinations must include a sampling of the assets (receivables and inventory) included in the borrowing base. The frequency of the examinations may be determined by the Lender based upon the quality of the records, risk profile of the Borrower and seasonality of the line. At a minimum, an examination must be conducted prior to the initial disbursement and annually thereafter. The Lender must describe the level and frequency of examinations in the credit memorandum for the line.

Monitoring:

The minimum monitoring requirements for Working Capital CAPLines are as follows:

Monthly–- BBC; Aging of accounts receivable/payable; and Inventory listing (if advanced against);

Quarterly – Borrower prepared financial statements; and

Annually – Borrowers management information system; legal elements; loan agreements; NAICS review; review of cash flow and related financials: and reassess exam, monitoring and control requirements.