# 17.5 Underwriting package requirements and review period (04/15/21) + 17.6 Workforce Housing Preserv

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_705
**Pages:** 314-315
**Section Path:** Originating Cash and Bond Credit Enhancement Mortgages (Chs 17-28A) > 17 - Originating Conventional Cash Mortgages GB-08-26-25 > 17.5 Underwriting package requirements and review period (04/15/21)

---

Guide Bulletin Update 08/26/25 Chapter 17 – Page 10 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 17 – Originating a Conventional Cash Mortgage  
• Section 60.28 , Appraisals for Moderate Rehabilitation (Mod Rehab) Mortgages  
 
• Chapter 63 , Construction Reports  
 
• Section 39.9 , Servicing Moderate Rehabilitation (Mod Rehab) Mortgages  
 
• Section 55.2 , Requirements for documents contained in the underwriting package  
 
1. Timing of renovation completion  
 
All units must be habitable no later than six months prior to Conversion to the Permanent 
Phase.  Minor unit renovations such as installation of light fixtures can be ongoing.  
 
All renovation work must be completed no later than three months prior to Conversion.  
 
2. Timing of additional proceeds request  
 
If additional proceeds are requested, the Seller/Servicer must provide notice within six months 
of Conversion to the Permanent Phase and must deliver a full underwriting package four 
months prior to Conversion.  All renovation work must be completed no lat er than three 
months prior to Conversion.  
 
The Seller/Servicer must prepare the full underwriting package following the requirements for 
a standard delivery found in Exhibit 1, Section 1.1 , Conventional Checklist .  However, the 
property condition report must comment on whether the renovation work is still ongoing or 
already completed, and incorporate the latest construction monitoring report or the post -
construction analysis report, whichever is available.  The co nstruction reports are described in 
Chapter 63.  
 
17.5 Underwriting package requirements and review period ( 04/15/21 ) 
See Section 27.5  for information regarding the content of underwriting packages . 
 
Instructions for preparing and delivering the underwriting packages and remitting any required 
fees to Freddie Mac are found in Chapter 55.  Chapter 55 also contains a complete description of 
Freddie Mac’s requirements for each document in an underwriting package, including a 
description of the required content and whether the document must be certified.  
 
The Seller should plan for a reasonable period for Freddie Mac to process and review the LST or 
underwriting package before receipt of the Quote, the early rate -lock application or the Letter of 
Commitment, as appropriate.  
 
17.6 Workforce Housing Preservation (10/19/23)  
A Workforce Housing Preservation Mortgage will have rent restrictions in place to preserve 
middle -income housing rental stock.  Either the Loan Documents for the Workforce Housing 
Preservation Mortgage will contain Borrower -elected rent restrictions that are more restrictive by 
income or unit count than those existing pursuant to any federal, state or local requirements or the 
Property will be subject to third -party, non -governmental restrictions  subject to Freddie Mac review 
and approval of the third -party  agreement terms .

Guide Bulletin Update 08/26/25 Chapter 17 – Page 10 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 17 – Originating a Conventional Cash Mortgage  
• Section 60.28 , Appraisals for Moderate Rehabilitation (Mod Rehab) Mortgages  
 
• Chapter 63 , Construction Reports  
 
• Section 39.9 , Servicing Moderate Rehabilitation (Mod Rehab) Mortgages  
 
• Section 55.2 , Requirements for documents contained in the underwriting package  
 
1. Timing of renovation completion  
 
All units must be habitable no later than six months prior to Conversion to the Permanent 
Phase.  Minor unit renovations such as installation of light fixtures can be ongoing.  
 
All renovation work must be completed no later than three months prior to Conversion.  
 
2. Timing of additional proceeds request  
 
If additional proceeds are requested, the Seller/Servicer must provide notice within six months 
of Conversion to the Permanent Phase and must deliver a full underwriting package four 
months prior to Conversion.  All renovation work must be completed no lat er than three 
months prior to Conversion.  
 
The Seller/Servicer must prepare the full underwriting package following the requirements for 
a standard delivery found in Exhibit 1, Section 1.1 , Conventional Checklist .  However, the 
property condition report must comment on whether the renovation work is still ongoing or 
already completed, and incorporate the latest construction monitoring report or the post -
construction analysis report, whichever is available.  The co nstruction reports are described in 
Chapter 63.  
 
17.5 Underwriting package requirements and review period ( 04/15/21 ) 
See Section 27.5  for information regarding the content of underwriting packages . 
 
Instructions for preparing and delivering the underwriting packages and remitting any required 
fees to Freddie Mac are found in Chapter 55.  Chapter 55 also contains a complete description of 
Freddie Mac’s requirements for each document in an underwriting package, including a 
description of the required content and whether the document must be certified.  
 
The Seller should plan for a reasonable period for Freddie Mac to process and review the LST or 
underwriting package before receipt of the Quote, the early rate -lock application or the Letter of 
Commitment, as appropriate.  
 
17.6 Workforce Housing Preservation (10/19/23)  
A Workforce Housing Preservation Mortgage will have rent restrictions in place to preserve 
middle -income housing rental stock.  Either the Loan Documents for the Workforce Housing 
Preservation Mortgage will contain Borrower -elected rent restrictions that are more restrictive by 
income or unit count than those existing pursuant to any federal, state or local requirements or the 
Property will be subject to third -party, non -governmental restrictions  subject to Freddie Mac review 
and approval of the third -party  agreement terms .

Guide Bulletin Update 08/26/25 Chapter 17 – Page 11 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 17 – Originating a Conventional Cash Mortgage  
Workforce Housing Preservation Mortgages must comply with all standard requirements under the 
Multifamily Conventional Cash Mortgage Purchase Program noted under this Chapter 17, and the 
Workforce Housing Preservation Mortgage must:  
 
• Require a market -based percentage of units to be set aside for middle -income tenants with a 
minimum of 20% of units  
 
• Meet market -based affordability thresholds, which are measured as a percentage of area 
median income  
 
• Be a fixed -rate Mortgage  
 
• Have a preservation period that is the lesser of the term of the loan or 10 years (flexibility may 
be available in the last year of the loan term)  
 
• Require annual Borrower certification of rent affordability levels