# B5-5.3-04, Massachusetts Resale Restriction Loan Eligibility Requirements (05/03/2023)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_361
**Pages:** 806-806
**Section Path:** Part B, Origination Through Closing > Subpart B5, Unique Eligibility and Underwriting Considerations > Chapter B5-5, Community Seconds, Loans with Resale Restrictions, and Shared Equity Transactions > Section B5-5.3, Shared Equity Transactions > B5-5.3-04, Massachusetts Resale Restriction Loan Eligibility Requirements (05/03/2023)

---

Published March 4, 2026
788Announcements Issue Date
Announcement SEL-2025-01 February 05, 2025
Announcement SEL-2024-04 June 05, 2024
Announcement SEL-2024-03 May 01, 2024
Announcement SEL-2023-11 December 13, 2023
Announcement SEL-2023-04 May 03, 2023
 
B5-5.3-04, Massachusetts Resale Restriction Loan Eligibility
Requirements (05/03/2023)
Introduction
This topic contains information on Massachusetts resale restriction loan eligibility requirements, including:
Lender Eligibility
Loan Eligibility Requirements
Legal Considerations
Lender Eligibility
Fannie Mae may purchase loans in Massachusetts that are subject to the Aﬀordable Housing Restriction
document without further approval from Fannie Mae. This includes any federal, state, or local subsidy program
for properties located in Massachusetts.
Use of the Aﬀordable Housing Restriction  document (copies of which can be obtained from the Massachusetts
Housing Finance Agency) without modiﬁcation, alteration or update, other than ﬁlling in the blanks or checking
boxes contained in the form, eliminates the need for the lender to review the terms and conditions of the
particular subsidy program with respect to loans delivered to Fannie Mae secured by properties in
Massachusetts that are subject to resale restriction(s).
Loan Eligibility Requirements