# Section B3-4.4, DU Requirements for Asset Assessment

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_218
**Pages:** 465-465
**Section Path:** Part B, Origination Through Closing > Subpart B3, Underwriting Borrowers > Chapter B3-4, Asset Assessment > Section B3-4.4, DU Requirements for Asset Assessment

---

Published March 4, 2026
447Announcements Issue Dates
Announcement SEL-2023-03 April 05, 2023
 
Section B3-4.4, DU Requirements for Asset Assessment
B3-4.4-01, DU Asset Veriﬁcation (12/16/2020)
Introduction
This topic contains information on asset veriﬁcation for loans underwritten with DU, including:
Liquid Assets
Non-Liquid Assets
Reserve Requirements
Asset Values in the DU Underwriting Findings Report
Non-Occupant Borrower Asset Requirements
Liquid Assets
DU analyzes the value of liquid assets entered in the loan application in its risk assessment. Assets may be
excluded from the loan application if the borrower can qualify without them.
DU considers the following assets liquid assets: Bonds, Bridge Loan Proceeds, Cash-on-Hand (for certain
HomeReady loans only), Cash Value of Life Insurance, Certiﬁcate of Deposit, Checking, Gift (not deposited), Gift
of Equity, Grant (not deposited), Individual Development Account, Money Market, Mutual Fund, Net Equity,
Other Liquid Asset, Proceeds from Real Estate Property to be sold on or before closing, Proceeds from Sale of
Non-Real Estate Asset, Retirement, Savings, Secured Borrowed Funds, Stocks, Stock Options (vested), and Trust
Account.
Note:  Some of these asset types may not be available in the lender’s loan origination system.
Non-Liquid Assets
DU does not consider the amount of non-liquid assets. Non-liquid assets do not have to be veriﬁed, and will not