# B7-3-02, Property Insurance Requirements for One-to Four-Unit Properties (02/07/2024)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_395
**Pages:** 874-876
**Section Path:** Part B, Origination Through Closing > Subpart B7, Insurance > Chapter B7-3, Property and Flood Insurance > B7-3-02, Property Insurance Requirements for One-to Four-Unit Properties (02/07/2024)

---

Published March 4, 2026
856✓ Conditions for Acceptable Reinsurance Arrangements
 The insurance written under the policy cannot exceed any dollar limitation amount speciﬁed in
the reinsurance endorsement.
Other Exceptions to Property Insurance Requirements
Fannie Mae also accepts the following types of property insurance policies if they are the only coverage that can
be obtained at the time of the loan closing or policy renewal:
policies obtained through state or territory insurance plans, including a state’s Fair Access to Insurance
Requirements (FAIR) plan, or
other state-mandated windstorm and beach erosion insurance pools.
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2022-10 December 14, 2022
Announcement SEL-2021-11 December 15, 2021
 
B7-3-02, Property Insurance Requirements for One-to Four-Unit
Properties (02/07/2024)
Introduction
This topic contains information on property insurance requirements for one- to four-unit properties, including:
Coverage Requirements
Determining the Required Coverage Amount
Deductible Requirements
Coverage Requirements

Published March 4, 2026
857Property insurance policies for one- to four-unit properties securing loans purchased by Fannie Mae should be
written on a "Special" coverage form or equivalent. At a minimum, the coverage must include the perils listed in
the following table.
✓ Required Perils
 Fire or lightning
 Explosion
 Windstorm (including named storms designated by the U.S. National Weather Service or the National
Oceanic and Atmospheric Administration by a name or number)
 Hail
 Smoke
 Aircraft
 Vehicles
 Riot or civil commotion
If a property insurance policy excludes or limits coverage of any of the required perils, the borrower must obtain
an acceptable stand-alone policy that provides adequate coverage for the limited or excluded peril (see 
B7-3-05, Additional Insurance Requirements , for additional information).
The property insurance policy must provide for claims to be settled on a replacement cost basis. Property
insurance policies that provide for claims to be settled on an actual cash value basis are not acceptable. Policies
that limit, depreciate, reduce or otherwise settle losses at anything other than a replacement cost basis are also
not acceptable.
Additional requirements apply to properties with solar panels that are leased from or owned by a third party
under a power purchase agreement or other similar arrangement. See  B2-3-04, Special Property Eligibility
Considerations , for additional requirements.
See  B7-3-08, Mortgagee Clause, Named Insured, and Notice of Cancellation Requirements  for additional
requirements applicable to a one- to four-unit property.
Determining the Required Coverage Amount
The lender or servicer must verify that the property insurance coverage amount for a ﬁrst mortgage secured by
a one- to four-unit property is at least equal to the lesser of:

Published March 4, 2026
858100% of the replacement cost value of the improvements as of the current property insurance policy
eﬀective date, or
the unpaid principal balance of the loan, provided it equals no less than 80% of the replacement cost
value of the improvements as of the current property insurance policy eﬀective date.
The source that the lender or servicer uses to verify the coverage amount may be the property insurer, an
independent insurance risk specialist, or other professional with appropriate resources to make such a
determination. This may include, but is not limited to, a statement from the insurer or other applicable
professional, a replacement cost estimator, or an insurance risk appraisal.
If the coverage amount does not meet the minimum required, coverage that does provide the minimum
required amount must be obtained.
The following table provides the steps to calculate the amount of required property insurance coverage.
Step Description
1Compare the replacement cost value of the improvements to the unpaid principal balance (UPB)
of the loan.
1AIf the replacement cost value of the improvements is less than the UPB, the replacement cost
value is the amount of coverage required.
1B If the UPB of the loan is less than the replacement cost value of the improvements, go to Step 2.
2 Calculate 80% of the replacement cost value of the improvements.
2AIf the result of this calculation is equal to or less than the UPB of the loan, the UPB is the amount
of coverage required.
2BIf the result of this calculation is greater than the UPB of the loan, this calculated ﬁgure is the
amount of coverage required.
Note : When calculating the required amount of property insurance coverage, the loan amount must
be used at origination and the UPB must be used during servicing of the loan.
Examples:
Category Property A Property B Property C
Replacement Cost Value $90,000 $100,000 $100,000