# B7-3-06, Flood Insurance Requirements for All Property Types (02/07/2024) (part 4/4)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_399_sub_004
**Pages:** 888-894
**Section Path:** Part B, Origination Through Closing > Subpart B7, Insurance > Chapter B7-3, Property and Flood Insurance > B7-3-06, Flood Insurance Requirements for All Property Types (02/07/2024)

---

Published March 4, 2026
876authorization to issue new policies, increase coverage on existing policies, or issue renewal policies.
For the duration of such a lapse, a lender may sell a loan to Fannie Mae where ﬂood insurance is otherwise
required without an active ﬂood insurance policy provided the requirements below are met.
During the lapse, lenders must have a process in place to identify properties securing loans sold to us without
proper evidence of active ﬂood insurance on the conditions that the borrower must provide acceptable evidence
of:
a completed application for NFIP ﬂood insurance and proof of the premium payment or the ﬁnal
settlement statement reﬂecting payment of the initial premium, or 
the assignment of an existing NFIP ﬂood insurance policy from the property seller to the purchaser.
The following table provides additional requirements that lenders and servicers must follow during the lapse.
✓ Lenders and servicers must...
 Continue to make ﬂood determinations, provide timely, complete and accurate notices to
borrowers in accordance with applicable laws, and comply with all other ﬂood insurance
requirements.
 Take all steps (as permitted by applicable law) necessary to facilitate the issuance of coverage
once the lapse has ended.
 Retain documentation to support acceptable evidence of ﬂood insurance.
Reﬁnance loans secured by properties where ﬂood insurance is required typically already have acceptable ﬂood
insurance coverage in place at the time of closing. Speciﬁc requirements for reﬁnance loans are listed below.
If a reﬁnance loan... Then the lender...
has acceptable ﬂood insurance coverage in place at
the time of closing that does not expire prior to sale
to Fannie Maemust be accurately reﬂected as the mortgagee
named on the policy.
has a ﬂood insurance policy that expires during the
lapse and before sale to Fannie Maemust follow all requirements in this topic
adapted appropriately to a renewal.
requires more coverage as a result of the reﬁnancemay sell a loan on the condition that the
borrower provide acceptable evidence of an
endorsement request and proof of the additional
premium payment.