# Section B3-3.6, Self-Employment Documentation Requirements for an Individual

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_169
**Pages:** 390-390
**Section Path:** Part B, Origination Through Closing > Subpart B3, Underwriting Borrowers > Chapter B3-3, Income Assessment > Section B3-3.6, Self-Employment Documentation Requirements for an Individual

---

Published March 4, 2026
372IRS Form Number Title
Form W-4 Employee’s Withholding Allowance Certiﬁcate
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2020-07 December 16, 2020
 
Section B3-3.6, Self-Employment Documentation Requirements for an Individual
B3-3.6-01, General Information on Analyzing Individual Tax Returns
(06/05/2019)
Introduction
This topic contains general information on analyzing individual tax returns.
Analyzing Individual Tax Returns
Analyzing Individual Tax Returns
In analyzing a self-employed borrower’s personal income, the lender should focus on earnings trends and the
actual sources of the income, not just on the total amount of the income. The lender must conﬁrm the stability
and likelihood of continuance for each source of income that the borrower reports on their IRS Form 1040. The
lender should not include any income that does not appear to be stable or likely to continue. The lender should,
however, consider all recurring income that the borrower can expect to continue receiving over time.
Income may be considered as recurring if the loan application package does not include any speciﬁc indication
of an upcoming change in the borrower’s employment or income, the borrower’s employment history has no
gaps or other signiﬁcant ﬂuctuations in income, and any income received under a contractual agreement (other
than an “at will” contract) will continue to be received for at least three years.