# c. Additional requirements for subsequent transfers (10/31/12)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_1877
**Pages:** 760-760
**Section Path:** Servicing Freddie Mac Loans (Chs 36-49) > 42 - Transfers of Servicing GB-08-15-24 > 42.7 Transfer of records for transfers of Servicing (10/31/12) > c. Additional requirements for subsequent transfers (10/31/12)

---

Guide Bulletin Update 08/15/24  Chapter 42 – Page 8 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the 
AllRegs web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 42 – Transfers of Servicing  
 
4. Notice of transfer  
 
A copy of the notice to the Borrowers regarding the Transfer of Servicing  
  
b. Transfer of portfolio records (10/31/12)  
No later than the effective date of transfer, the transferor must deliver to the transferee the following 
records for the Mortgages for which Servicing is transferred:  
 
1. Notices to third parties  
 
The notices required in Section 42.13  
 
2. Service contracts  
 
Copies of tax and insurance determination service contracts, if applicable  
 
3. Unpaid charges  
 
A list of escrowed charges due and unpaid as of the effective date of transfer  
 
4. Trial balances  
 
Trial balances, as of the close of the last Business Day immediately preceding the effective date 
of transfer, showing  
 
• Transfers of Ownership, payoffs and other Servicing exceptions in process  
 
• Reserves, Reserve advances and prepayments  
 
• Delinquencies, foreclosures and bankruptcies  
 
5. Insurance policies  
 
A list of Mortgages showing expiration dates of the insurance policies on the Property, whether 
or not premiums for these policies were escrowed by the transferor  
 
6. Other documents  
 
Ledger records and definitions of codes used in ledger records, trial balances or any other 
documents required by Freddie Mac to be transferred to the transferee  
  
c. Additional requirements for subsequent transfers (10/31/12)  
For a subsequent Transfer of Servicing, the transferor must deliver to the transferee, no later than 
30 days after the effective date of transfer, the following documents in addition to those specified in 
Sections 42.7(a) and 42.7(b):  
 
1. Custodial Accounts