# B4-1.2-05, Requirements for Verifying Completion and Postponed Improvements (12/10/2025)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_266
**Pages:** 561-567
**Section Path:** Part B, Origination Through Closing > Subpart B4, Underwriting Property > Chapter B4-1, Property Assessment and Valuation > Section B4-1.2, Documentation Standards > B4-1.2-05, Requirements for Verifying Completion and Postponed Improvements (12/10/2025)

---

Published March 4, 2026
543transaction. If the appraisal report is greater than four months from the date of the note and mortgage,
then an appraisal update is required. See preceding section, Age of Appraisal and Appraisal Update
Requirements, for requirements for completing an appraisal update.
The lender must ensure that the property has not undergone any signiﬁcant remodeling, renovation, or
deterioration to the extent that the improvement or deterioration of the property would materially aﬀect
the market value of the subject property.
The borrower and the lender/client must be the same on the original and subsequent transaction.
Note : The appraisal must comply with all other requirements in the Underwriting Property section of
the Selling Guide .
Uniform Appraisal Dataset (UAD) 3.6 Policy
Lenders using UAD 3.6 must follow the requirements in the  UAD 3.6 Policy Supplement .
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2025-04 June 04, 2025
Announcement SEL-2023-02 March 01, 2023
Announcement SEL-2022-03 April 06, 2022
Announcement SEL-2022-02 March 02, 2022
Announcement SEL-2021-06 July 07, 2021
 
B4-1.2-05, Requirements for Verifying Completion and Postponed
Improvements (12/10/2025)
Introduction
This topic contains information on requirements for verifying completion of construction and repairs, and
requirements for postponed improvements, including:

Published March 4, 2026
544Overview
Form 1004D and Completion Alternatives
Veriﬁcation of Completion: New or Proposed Construction
Veriﬁcation of Completion: Existing Construction
Postponed Improvements
Uniform Appraisal Dataset (UAD) 3.6 Policy
Overview
Generally, improvements, alterations, and repairs on the subject property must be complete when the loan is
sold to Fannie Mae. Lenders must obtain evidence of completion and Fannie Mae allows for a variety of methods
depending on the type of valuation method and condition (completion, alteration, or repair) that must be
conﬁrmed.
Additionally, in some circumstances, Fannie Mae allows a loan to be sold prior to improvements or repairs being
completed if the lender complies with the requirements related to postponed improvements.
Form 1004D and Completion Alternatives
Form 1004D
The Appraisal Update and/or Completion Report (Form 1004D ) is used to update an appraisal or provide
conﬁrmation that the requirements or conditions in an appraisal report have been met (such as completion of
construction or repairs).
The appraiser can complete the Completion Report section of Form 1004D based on an on-site visual inspection
of the property. The appraiser may also complete the form based on alternative methods, such as virtual
inspections, digital photos, site videos, or other technological solutions. All completion documentation must
include one or more visually veriﬁable exhibits. A link to the digital exhibits from within the form is acceptable
but must be accessible by Fannie Mae for the life of the loan. These exhibits must be unaltered and able to be
authenticated using metadata and the geocode for the subject property.
See  B4-1.2-04, Appraisal Age and Use Requirements , for certiﬁcations completed by substitute appraisers.
Attestation Letters
Fannie Mae also permits other completion alternative methods - attestation letters - to verify completion of
construction, alteration, or repairs in lieu of Form 1004D.
Borrower/builder attestation letter:  For new or proposed construction, a letter is permitted to conﬁrm the
property was completed and constructed in conformity with the plans and speciﬁcations, amendments, and
change orders. The borrower/builder attestation letter must include (at a minimum) the following items:
borrower name,
property address or legal description if the address is not available,
certiﬁcation language that the property was constructed in conformity with the plans and speciﬁcations
including any amendments or changes,

Published March 4, 2026
545signatures and dates by the borrower(s) and builder, and
exterior and interior photos of the property (see  B4-1.2-01, Appraisal Report Forms and Exhibits ).
If a letter signed by both parties is not obtainable, then a Form 1004D completed by the appraiser is required.
Borrower attestation letter:  A letter is permitted to conﬁrm completion of certain alterations or repairs for
existing construction. The letter must include (at a minimum) the following:
borrower name;
property address;
certiﬁcation language that the alteration or repair was satisfactorily completed;
signatures and date of the borrower;
visually veriﬁable exhibits of the completed work; and
one of the following
signature of the qualiﬁed professional,
a professionally prepared report, or
paid invoices for the alterations or repairs.
When either of these attestation letter options is used, a link within the letter to any digital exhibits is
acceptable but must be accessible by Fannie Mae for the life of the loan. These exhibits must be unaltered and
able to be authenticated using metadata and the geocode for the subject property. The letter and all
documentation must be retained in the loan ﬁle.
Criteria for Use of Form 1004D and Completion Alternatives
Use of Form 1004D and completion alternatives varies depending on the type of valuation method and condition
(completion, alteration, inspection, or repair) that must be veriﬁed.
                                                                                                     Appraisals
                                                              (Any appraisal report form including Hybrid and Desktop)
Appraisal "Subject to" Condition Performer Documentation Options
New or proposed construction - completion
per plans and speciﬁcationsAppraiser Form 1004D with site visit
Appraiser Form 1004D with virtual inspection
Borrower and builder Borrower/builder attestation letter with supporting evidence
Existing construction - repairs or
alterationsAppraiser Form 1004D with site visit
Appraiser Form 1004D with virtual inspection
Borrower Borrower attestation letter with supporting evidence
Existing construction - inspections
requiring a professionally prepared reportQualiﬁed professionalProfessionally prepared inspection report
The lender must determine if repairs are required as a result
of the inspection, veriﬁcation per above requirements.
                                                                                          Property Data Collection
Condition Performer Documentation

Published March 4, 2026
546Existing construction - repairs or
alterationsBorrower Borrower attestation letter with supporting evidence
Existing construction - inspection requiring
a professionally prepared reportQualiﬁed professionalProfessionally prepared inspection report
The lender must determine if repairs are required as a result
of the inspection, veriﬁcation per above requirements.
Note:  The alternative Form 1004D completion method and attestation letters are not permitted for
verifying completion for HomeStyle Renovation transactions.
Veriﬁcation of Completion: New or Proposed Construction
When the property securing the loan is new or proposed construction, the appraisal must be based on either
plans and speciﬁcations, an existing model home, or other information suﬃcient to identify its quality and
character to accurately report the interior features of the proposed improvements.
Veriﬁcation of completion of construction is required (in accordance with the requirements above) before sale of
the loan to Fannie Mae, unless the lender complies with the postponed improvements policies described below.
Veriﬁcation of Completion: Existing Construction
Lenders must review the appraisal to ensure that the property does not have minor conditions or deferred
maintenance items that aﬀect the safety, soundness, or structural integrity of the subject property. See
B4-1.3-06, Property Condition and Quality of Construction of the Improvements , for information concerning
property condition and quality of construction ratings.
The tables below provide requirements related to existing properties that have physical deﬁciencies, minor
conditions, or deferred maintenance items that may or may not aﬀect the safety, soundness, or structural
integrity of the property.
✓Requirements for Existing Construction When There are Minor Conditions or Deferred
Maintenance Items that Do Not Aﬀect the Safety, Soundness, or Structural Integrity of
the Property

Published March 4, 2026
547✓Requirements for Existing Construction When There are Minor Conditions or Deferred
Maintenance Items that Do Not Aﬀect the Safety, Soundness, or Structural Integrity of
the Property
 When the appraisal shows the existence of minor conditions or deferred maintenance that does not
aﬀect the safety, soundness, or structural integrity of the property, these items must be reﬂected
in the appraiser's opinion of value and the appraisal report must be completed "as-is." Items
meeting these criteria require the appraiser to report and comment on the eﬀect these items may
have on the subject property's value and marketability. The lender will then evaluate and
determine if any additional course of action is required to comply with Fannie Mae's safety,
soundness, and structural integrity requirements. Minor conditions and deferred maintenance
items include, but are not limited to, worn ﬂoor ﬁnishes or carpet, minor plumbing leaks, holes in
window screens, missing handrails, or cracked window glass and are typically due to normal wear
and tear. The lender is not required to ensure that the borrower has had these items repaired prior
to sale of the loan to Fannie Mae when the appraisal is completed "as-is."
 If there are minor conditions or deferred maintenance items to be remedied or completed after
closing, the lender may escrow for these items at its own discretion and still sell the loan to Fannie
Mae prior to the release of the escrow as long as the lender can ensure that these items do not
aﬀect the safety, soundness, or structural integrity of the property.
 Lenders must ensure the escrow account is a custodial account that satisﬁes Fannie Mae’s criteria
for custodial accounts and depositories as outlines in Servicing Guide  topic A4-1-02, Establishing
Custodial Bank Accounts.
✓Requirements for Existing Construction
When There are Incomplete Items or Conditions that Aﬀect the Safety, Soundness, or
Structural Integrity of the Property
 When an appraisal is required and there are incomplete items, physical deﬁciencies, or items
aﬀecting the safety, soundness, or structural integrity of the improvements, the appraisal must be
"subject to" completion of the speciﬁc repairs or alterations. This may include but is not limited to
foundation settlement, water seepage, active roof leaks, worn roof shingles, inadequate electrical
service or plumbing ﬁxtures, etc.
Incomplete items, physical deﬁciencies, or items aﬀecting safety, soundness, or structural integrity
may also be identiﬁed through the property data collection process.
In all cases, the lender must verify completion before the loan is sold to Fannie Mae. See Form
1004D and Completion Alternatives  above for the speciﬁc requirements.
Postponed Improvements
Fannie Mae allows the sale of a loan before construction or improvements are complete if certain requirements

Published March 4, 2026
548are met.
The table below describes requirements related to properties that are new or proposed construction that are not
complete when the loan is sold to Fannie Mae.
✓ Requirements for New or Proposed Construction
 Loans may be sold before postponed items are complete; however, the postponed improvements
must be completed within 180 days of the note date. Acceptable postponed items include items
that:
• are part of the sales contract (third-party contracts are not permissible);
• are postponed for a valid reason, such as inclement weather or a shortage of building materials;
and
• do not aﬀect the ability to obtain an occupancy permit.
 Completion must be conﬁrmed using Form 1004D or an acceptable completion alternative as
described above.  All documentation must be retained in the loan ﬁle.
 The cost of completing improvements must not represent more than 10% of the “as completed”
appraised value of the property.
 Lenders must establish a completion escrow for the postponed improvements, by withholding from
the purchase proceeds funds equal to 120% of the estimated cost for completing the
improvements. However, if the contractor or builder oﬀers a guaranteed ﬁxed-price contract for
completion of the improvements, the funds in the completion escrow only need to equal the full
amount of the contract price.
 Lenders must ensure the escrow account is a custodial account that satisﬁes Fannie Mae’s criteria
for custodial accounts and depositories as outlined in Servicing Guide A4-1-02, Establishing
Custodial Bank Accounts.
 Lenders and borrowers must execute an escrow agreement that states how the escrow account will
be managed and how funds from the escrow account will be disbursed.
 The completion escrow may not adversely aﬀect the mortgage insurance or title insurance.
 After a satisfactory Form 1004D or completion alternative is obtained, the lender must release the
ﬁnal draw from the escrow account, which should include any funds in excess of the amount
needed to pay for completion of the postponed items.

Published March 4, 2026
549✓ Requirements for New or Proposed Construction
 Lenders must obtain a ﬁnal title report, which must not show any outstanding mechanic’s liens,
take any exceptions to the postponed improvements, or take any exceptions to the escrow
agreement. If the ﬁnal title report is issued before the completion of the improvements, lenders
must obtain an endorsement to the title policy that ensures the priority of Fannie Mae’s lien.
 
Requirements for HomeStyle Refresh Improvements on Existing Construction
The table below provides the postponed improvement requirements for a HomeStyle Refresh loan. 
✓ Requirements for HomeStyle Refresh Improvements on Existing Construction
 Loans may be sold before the improvements are complete; however, the postponed improvements
must be completed within 180 days of the note date. Acceptable postponed items include items
that will not prevent the issuance of an occupancy permit.
 A certiﬁcation of completion must be obtained to verify the work was completed and must:
• be completed by the appraiser,
• state that the improvements were completed in accordance with the requirements and conditions
in the original appraisal report, and
• be accompanied by photographs of the completed improvements.
 Lenders must establish a completion escrow for the total cost of the improvements. Lenders may
include a contingency reserve of up to 20% of the total cost of improvements.
 Lender must ensure the escrow account is a custodial account that satisﬁes Fannie Mae’s criteria
for custodial accounts and depositories as outlined in Servicing Guide  topic A4-1-02, Establishing
Custodial Bank Accounts.
 Lenders and borrowers must execute an escrow agreement that states how the escrow account will
be managed and how funds from the escrow account will be disbursed.
 The completion escrow may not adversely aﬀect the mortgage insurance or title insurance.