# B2-2-02, Non–U.S. Citizen Borrower Eligibility Requirements (07/28/2015) + B2-2-03, Multiple Finance

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_099
**Pages:** 243-246
**Section Path:** Part B, Origination Through Closing > Subpart B2, Eligibility > Chapter B2-2, Borrower Eligibility > B2-2-02, Non–U.S. Citizen Borrower Eligibility Requirements (07/28/2015)

---

Published March 4, 2026
225If the Social Security number cannot be validated with the SSA, the loan is not eligible for sale to Fannie
Mae.
Establishing Borrower Ownership Interest
A borrower must establish ownership interest in the security property and become liable for the note (whether
individually or jointly) by:
signing the security instrument,
signing the mortgage or deed of trust note, and
taking title to the property in the name of the individual borrower(s).
If the security property is held in a life estate established under state property law, the following provisions
apply:
The life tenant (the individual who has the right to possess and use the subject property during their
lifetime) must be a borrower.
One (or more) remaindermen (individuals who have an irrevocable, vested and alienable interest in the
subject property and who will receive full ownership of the subject property upon the death of the life
tenant) may also be co-borrowers.
Both the life tenant and all remaindermen must sign the security instrument to convey their respective
interests in the property.
For additional information, see  B2-3-01, General Property Eligibility .
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2025-07 September 03, 2025
Announcement SEL-2022-10 December 14, 2022
Announcement SEL-2020-05 September 02, 2020
 
B2-2-02, Non–U.S. Citizen Borrower Eligibility Requirements

Published March 4, 2026
226(07/28/2015)
Introduction
This topic contains information on non–U.S. citizen borrower eligibility requirements.
Non–U.S. Citizen Borrower Eligibility Requirements
Non–U.S. Citizen Borrower Eligibility Requirements
Fannie Mae purchases and securitizes mortgages made to non–U.S. citizens who are lawful permanent or non-
permanent residents of the United States under the same terms that are available to U.S. citizens. Fannie Mae
does not specify the precise documentation the lender must obtain to verify that a non–U.S. citizen borrower is
legally present in the United States. The lender must make a determination of the non–U.S. citizen’s status
based on the circumstances of the individual case, using documentation it deems appropriate. By delivering the
mortgage to Fannie Mae, the lender represents and warrants that the non–U.S. citizen borrower is legally
present in this country.
Recent Related Announcements
There are no recently issued Announcements related to this topic.
B2-2-03, Multiple Financed Properties for the Same Borrower
(11/05/2025)
Introduction
This topic contains information on multiple ﬁnanced properties for the same borrower, including:
Limits on the Number of Financed Properties
Reserve Requirements
Applying the Multiple Financed Property Policy to DU Loan Caseﬁles
Limits on the Number of Financed Properties
The following table describes the limits that apply to the number of ﬁnanced properties a borrower may have.

Published March 4, 2026
227Subject Property Occupancy TransactionMaximum Number of
Financed Properties
Principal residenceTransactions other than
HomeReady loansNo limit
Principal residence HomeReady loansDU and manually underwritten -
2
Second home or Investment
propertyAll DU - 10
Exception:  High LTV reﬁnance loans are exempt from the multiple ﬁnanced property policies. See B5-7-01,
High LTV Reﬁnance Loan and Borrower Eligibility  for additional information on these loans.
The number of ﬁnanced properties calculation includes:
the number of one- to four-unit residential properties where the borrower is personally obligated on the
mortgage(s), even if the monthly housing expense is excluded from the borrower’s DTI in accordance
with  B3-6-05, Monthly Debt Obligations
the total number of properties ﬁnanced (not the number of mortgages on the property nor the number of
mortgages sold to Fannie Mae), with multiple unit properties (such as a two-unit) counting as one
property;
the borrower’s principal residence if it is ﬁnanced; and
the cumulative total for all borrowers (though jointly ﬁnanced properties are only counted once). For
HomeReady loans, ﬁnanced properties owned by a non-occupant co-borrower that are owned separately
from the borrower are excluded from the number of ﬁnanced properties calculation.
The following property types are not subject to these limitations, even if the borrower is personally obligated on
a mortgage on the property:
commercial real estate,
multifamily property consisting of more than four units,
ownership in a timeshare,
ownership of a vacant lot (residential or commercial), or
ownership of a manufactured home on a leasehold estate not titled as real property (chattel lien on the
home).
Examples — Counting Financed Properties
A HomeReady borrower is purchasing a principal residence and is obligated on a mortgage securing an
investment property. A non-occupant co-borrower is solely obligated on mortgages securing three
investment properties. In this instance, the transaction is eligible for HomeReady, as the occupant

Published March 4, 2026
228borrower will have two ﬁnanced properties. The non-occupant co-borrower’s ﬁnanced properties are not
included in the property count.
The borrower is personally obligated on mortgages securing two investment properties and the co-
borrower is personally obligated on mortgages securing three other investment properties, and they are
jointly obligated on their principal residence mortgage. The borrower is reﬁnancing the mortgage on one
of the two investment properties. Thus, the borrowers have six ﬁnanced properties.
The borrower and co-borrower are purchasing an investment property and they are already jointly
obligated on the mortgages securing ﬁve other investment properties. In addition, they each own their
own principal residence and are personally obligated on the mortgages. The new property being
purchased is considered the borrowers' eighth ﬁnanced property.
The borrower is purchasing a second home and is personally obligated on their principal residence
mortgage. Additionally, the borrower owns four two-unit investment properties that are ﬁnanced in the
name of a limited liability company (LLC) of which they have a 50% ownership. Because the borrower is
not personally obligated on the mortgages securing the investment properties, they are not included in
the property count and the result is only two ﬁnanced properties.
The borrower is purchasing and ﬁnancing two investment properties simultaneously. The borrower does
not have a mortgage lien against their principal residence but does have a ﬁnanced second home and is
personally obligated on the mortgage, two existing ﬁnanced investment properties and is personally
obligated on both mortgages, and a ﬁnanced building lot. In this instance, the borrower will have ﬁve
ﬁnanced properties because the ﬁnanced building lot is not included in the property count.
Reserve Requirements
Additional reserve requirements apply to second home and investment properties based on the number of
ﬁnanced properties the borrower will have. The borrower must have suﬃcient assets to close after meeting the
minimum reserve requirements. See  B3-4.1-01, Minimum Reserve Requirements , for the ﬁnanced properties
requirements. The additional reserve requirements do not apply to HomeReady transactions.
Applying the Multiple Financed Property Policy to DU Loan Caseﬁles
DU will determine the number of ﬁnanced properties for the loan caseﬁle based on the following data in the
online loan application:
If the Number of Financed Properties ﬁeld is completed, DU will use that as the number of ﬁnanced
properties. The lender must complete this ﬁeld with the number of ﬁnanced one- to four-unit residential
properties (including the subject transaction) for which the borrower(s) are personally obligated.
If the Number of Financed Properties ﬁeld is not provided, DU will use the number of residential
properties in the Real Estate Owned (REO) section that include a mortgage payment, or that are
associated with a mortgage or HELOC, as the number of ﬁnanced properties. Properties that are identiﬁed
as commercial, multifamily, land, or farm in the Other Description ﬁeld for each speciﬁc REO will not be
used when determining the number of ﬁnanced properties.
If the Number of Financed Properties ﬁeld and the REO information was not provided, DU will use the
number of mortgages and HELOCs disclosed in the loan application as the number of ﬁnanced properties.
Note that in order for an accurate assessment of the loan to be performed, the REO data must be
provided for all owned properties.