# B4-1.2-05, Requirements for Verifying Completion and Postponed Improvements (12/10/2025) (part 4/4)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_266_sub_004
**Pages:** 561-567
**Section Path:** Part B, Origination Through Closing > Subpart B4, Underwriting Property > Chapter B4-1, Property Assessment and Valuation > Section B4-1.2, Documentation Standards > B4-1.2-05, Requirements for Verifying Completion and Postponed Improvements (12/10/2025)

---

Published March 4, 2026
549✓ Requirements for New or Proposed Construction
 Lenders must obtain a ﬁnal title report, which must not show any outstanding mechanic’s liens,
take any exceptions to the postponed improvements, or take any exceptions to the escrow
agreement. If the ﬁnal title report is issued before the completion of the improvements, lenders
must obtain an endorsement to the title policy that ensures the priority of Fannie Mae’s lien.
 
Requirements for HomeStyle Refresh Improvements on Existing Construction
The table below provides the postponed improvement requirements for a HomeStyle Refresh loan. 
✓ Requirements for HomeStyle Refresh Improvements on Existing Construction
 Loans may be sold before the improvements are complete; however, the postponed improvements
must be completed within 180 days of the note date. Acceptable postponed items include items
that will not prevent the issuance of an occupancy permit.
 A certiﬁcation of completion must be obtained to verify the work was completed and must:
• be completed by the appraiser,
• state that the improvements were completed in accordance with the requirements and conditions
in the original appraisal report, and
• be accompanied by photographs of the completed improvements.
 Lenders must establish a completion escrow for the total cost of the improvements. Lenders may
include a contingency reserve of up to 20% of the total cost of improvements.
 Lender must ensure the escrow account is a custodial account that satisﬁes Fannie Mae’s criteria
for custodial accounts and depositories as outlined in Servicing Guide  topic A4-1-02, Establishing
Custodial Bank Accounts.
 Lenders and borrowers must execute an escrow agreement that states how the escrow account will
be managed and how funds from the escrow account will be disbursed.
 The completion escrow may not adversely aﬀect the mortgage insurance or title insurance.