# Section B5-4.1, General Requirements of Texas Section 50(a)(6) Loans

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_340
**Pages:** 767-767
**Section Path:** Part B, Origination Through Closing > Subpart B5, Unique Eligibility and Underwriting Considerations > Chapter B5-4, Property-Specific Products > Section B5-4.1, General Requirements of Texas Section 50(a)(6) Loans

---

Published March 4, 2026
749Chapter B5-4, Property-Speciﬁc Products
Introduction
This chapter describes the policies and requirements for property-speciﬁc products.
Section B5-4.1, General Requirements of Texas Section 50(a)(6) Loans
B5-4.1-01, Texas Section 50(a)(6) Loans (12/19/2017)
Introduction
This topic contains information on Texas Section 50(a)(6) loans, including:
Overview
Lender Eligibility
Loan Origination and Compliance
Lender Certiﬁcation
Lender’s and Servicer’s Obligations to Maintain Procedures for Curing Violations
Overview
A Texas Section 50(a)(6) loan is a loan originated in accordance with and secured by a lien permitted under the
provisions of Article XVI, Section 50(a)(6), of the Texas Constitution, which allow a borrower to take equity out of
a homestead property under certain conditions.
Lender Eligibility
Unless otherwise notiﬁed in writing, all lenders are eligible to sell and/or service Texas Section 50(a)(6) loans as
long as the lender meets the eligibility criteria speciﬁed in Texas Constitution Section 50(a)(6). A lender that
intends to sell Texas Section 50(a)(6) loans originated by a third-party originator is also responsible for ensuring
that the originating lender qualiﬁes as an “authorized lender” under Texas Constitution Section 50(a)(6).
Loan Origination and Compliance
In addition to Fannie Mae's other origination and compliance requirements for Texas Section 50(a)(6) loans in