# B8-5-05, Requirements for Use of a Power of Attorney (10/05/2022)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_424
**Pages:** 925-927
**Section Path:** Part B, Origination Through Closing > Subpart B8, Closing: Legal Documents > Chapter B8-5, Special-Purpose Legal Documents > B8-5-05, Requirements for Use of a Power of Attorney (10/05/2022)

---

Published March 4, 2026
907and the subsidy provider must execute a rider to nullify or amend those provisions.
See Section B5-5.1, Community Seconds, for more information.
Mortgages Secured by Property Located on Community Land Trusts
Mortgages secured by properties located on a community land trust are subject to a ground lease, which
includes provisions that require the continued use of the property for low- and moderate-income families, and
limits the maximum sales price of the property.
For such loans, Fannie Mae requires the lessor and the borrower to execute a Community Land Trust Ground
Lease Rider .
The purpose of the rider is to ensure the ground lease conforms to Fannie Mae’s guidelines for community land
trust loans without the delay that would result from the lender’s obtaining Fannie Mae’s approval of each
ground lease. Fannie Mae’s approval is required, however, if the rider is modiﬁed or is not executed. See
B5-5.3-02, Shared Equity Transactions: General Requirements , for more information.
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2025-01 February 05, 2025
B8-5-05, Requirements for Use of a Power of Attorney (10/05/2022)
Introduction
This topic contains information on requirements for use of a power of attorney, including:
Overview
General Exception to Power of Attorney Requirements
Eligibility Requirements for Using a Power of Attorney
Overview
A power of attorney (POA) is a legal document giving one person (described below as the “agent”) the power to
legally bind another person. Loans with documentation executed by an agent on behalf of the borrower under a
POA are eligible for delivery to Fannie Mae if all requirements referenced in this Guide are met.
When title to mortgaged property is held by a trustee under an inter vivos revocable trust, loan documentation

Published March 4, 2026
908may not be executed using a POA granted by such trustee unless,
the related trust instrument expressly authorizes the trustee to use a POA to delegate powers to an
agent, or
the agent under the POA is the borrower creating such inter vivos revocable trust.
General Exception to Power of Attorney Requirements
If a lender determines that it is required by applicable law to accept a POA presented by a borrower, none of the
following requirements for, or limitations on, the use of a POA apply. In such cases, the lender must include a
written statement in the loan ﬁle that explains that determination. Such written statement must be provided to
the document custodian with the POA.
Eligibility Requirements for Using a Power of Attorney
Underwriting and Documentation Requirements
Eligible Transactions• Purchase
• Limited cash-out reﬁnance
Documentation RequirementsAn agent under a POA may sign the note and/or security instrument on
behalf of a borrower (as deﬁned in the Glossary) if all of the following
requirements are met:
• The lender obtains a copy of the POA.
• The name(s) on the POA match the name(s) of the person on the
relevant loan document.
• The POA is dated such that it was valid at the time the relevant loan
document was executed.
• The POA is notarized.
• The POA must reference the address of the subject property.
Note:  See  B1-1-01, Contents of the Application Package , for additional
information.
Additional Requirements• In jurisdictions where a POA used for a signature on a security
instrument must be recorded with the security instrument, the lender
must ensure that recordation has been eﬀected.
• If applicable law requires an original POA for enforcement or foreclosure
purposes, an original must be forwarded to the document custodian.
• If there is more than one borrower, each may execute the note and/or
security instrument using a POA that complies with this section.

Published March 4, 2026
909Underwriting and Documentation Requirements
Ineligible AgentsUnless a person described below is a relative* of the borrower, none may
serve as an agent except in accordance with a listed permitted exception.
Agent Permitted Exceptions
Aﬃliate of lender
Transaction must meet the
Additional Conditions belowLoan originator
Aﬃliate of the loan originator
Employee of the title insurance
company
Aﬃliate of the title insurance
company or its employee
(including, but not limited to, the
title agency closing the loan)
Lender (or employee of lender)
NoneProperty seller, or any person
related to the property seller,
including a relative or aﬃliate
Any real estate agent with a
ﬁnancial interest in the transaction
(or any person aﬃliated with such
real estate agent)
*A borrower’s relative includes any person deﬁned as a relative in this Guide, or a person who is an individual
engaged to marry the borrower, or is in a legally recognized mutual relationship with the borrower (however
denominated under applicable local law).
Additional Conditions
The following are the additional conditions that must be met to qualify for a permitted exception in the table
above.
The POA expressly states an intention to secure a loan not to exceed a stated amount from a named
lender on a speciﬁc property.