# Section B3-3.2, Requirements for Employment-Related Income

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_132
**Pages:** 327-327
**Section Path:** Part B, Origination Through Closing > Subpart B3, Underwriting Borrowers > Chapter B3-3, Income Assessment > Section B3-3.2, Requirements for Employment-Related Income

---

Published March 4, 2026
309Type of Income Requirements
Military PersonnelIf the borrower is in the military, in lieu of a verbal or written VOE, the lender must obtain either
• a military Leave and Earnings Statement dated within 120 calendar days prior to the note date, or
• a veriﬁcation of employment through the Defense Manpower Data Center. See  E-1-02, List of Contacts
for additional information.
Self-Employed IncomeThe lender must:
• verify the existence of the borrower's business within 120 calendar days prior to the note date
    ⚬ from a third party, such as a CPA, regulatory agency, or the applicable licensing bureau, if possible;
or
    ⚬ by verifying a phone listing and address for the borrower's business using a telephone book, the
internet, or directory assistance.
• document the source of the information obtained and the name and title of the lender's employee who
obtained the information.
Recent Related Announcements
The table below provides reference to recently issued Announcements related to this topic.
Announcements Issue Date
Announcement SEL-2026-02  March 04, 2026 
Section B3-3.2, Requirements for Employment-Related Income
B3-3.2-01, Standards for Employment and Income Documentation
(03/04/2026)
Introduction
This topic contains information on the standards for documentation of employment income, including:
General Documentation Requirements
Documentation Provided by the Borrower
Documentation Provided by the Borrower's Employer
Documentation Provided by a Third-Party Employment Veriﬁcation Vendor
General Documentation Requirements