# Section B3-3.7, Self-Employment Documentation Requirements for a Business

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_177
**Pages:** 399-399
**Section Path:** Part B, Origination Through Closing > Subpart B3, Underwriting Borrowers > Chapter B3-3, Income Assessment > Section B3-3.7, Self-Employment Documentation Requirements for a Business

---

Published March 4, 2026
381Documentation Requirements
The following table describes the documentation the borrower must provide. 
✓ Documentation Requirements
 the most recent one or two years of signed individual federal income tax returns—IRS Form
1040 including IRS Schedule K-1, in accordance with the requirements in B3-3.5-01,
Underwriting Factors and Documentation for a Self-Employed Borrower . 
 • the most recent two years of business federal income tax returns (IRS Form 1065 or IRS
Form 1120S), unless the requirements to waive business tax returns have been met; or
• the most recent one year of business federal income tax returns, in accordance with the
requirements in B3-3.5-01, Underwriting Factors and Documentation for a Self-Employed
Borrower .
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2024-01 February 07, 2024
Section B3-3.7, Self-Employment Documentation Requirements for a Business
B3-3.7-01, Analyzing Partnership Returns for a Partnership or LLC
(02/07/2024)
Introduction
This topic contains information on analyzing partnership returns for a partnership or LLC, including:
Overview
Evaluating the Business Income
Borrower’s Proportionate Share of Income or Loss
Adjustments to Business Cash Flow