# a. General requirements (06/30/16) + b. References and experience (02/16/23)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_2535
**Pages:** 1123-1124
**Section Path:** Third-Party Reports (Chs 60-69) > 62SBL - SBL Physical Risk Report Reqs GB-08-26-25 > 62SBL.17 Physical risk consultant qualifications and requirements (02/16/23) > a. General requirements (06/30/16)

---

Guide Bulletin Update 08/26/25  Chapter 62SBL  – Page 19 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 62SBL – SBL Physical Risk Report Requirements  
questionnaire are “unknown”, the consultant must explain why this data gap is not a problem or 
an environmental assessment must be conducted.  If any responses to the questionnaire are  
“yes”, then an environmental assessment must be conducted.  
 
If an environmental assessment is warranted, refer to Sections 61.1 2(a) through 61.1 2(e). 
 
62SBL.14  Radon (06/30/16)  
SBL Properties are not required to be tested for the presence of radon.  
 
62SBL.15  Superlien status (06/30/16)  
Refer to Section 61.15.  
 
62SBL.16  Acceptability of the SBL Physical Risk Report (0 2/16/23) 
The SBL Physical Risk Report and the condition of the Property must be acceptable to Freddie 
Mac.  The SBL Physical Risk Report must specify an appropriate solution for each deficiency 
identified.  The consultant must identify the scope and estimated cost for all Critical Repairs and 
Priority Repairs and all potential  environmental concerns .  Upon Freddie Mac's review of the 
completed SBL Physical Risk Report, Freddie Mac may impose additional requirements.  
 
62SBL.17  Physical risk consultant qualifications and requirements ( 02/16/23 ) 
Consultants who conduct the on -site inspections and complete the SBL Physical Risk Reports 
must meet the qualifications and requirements specified in this section.  
 
Because Freddie Mac does not approve physical risk consultants, the Seller/Servicer must not 
consider any representation that a consultant is approved or qualified by Freddie Mac to 
prepare SBL Physical Risk Reports.  The Seller/Servicer is responsible for  selecting the 
consultant and is solely accountable for the consultant's performance.  The Seller/Servicer must 
ensure that the consultant is qualified to perform the required work.  
 
a. General requirements (06/30/16)  
Consultants' qualifications may vary with the needs of the specific assignment: general 
inspection services or specific technical analysis may be required.  The consultant must be 
able to analyze building systems, site conditions, and environmental issues professionally, 
identify deficiencies and recommend remedial responses with cost estimates.  
 
b. References and experience (02/ 16/23 ) 
A consultant performing inspections and preparing SBL Physical Risk Reports must have 
all of the following qualifications:  
 
• A bachelor’s or graduate degree in architecture or a related engineering field from an 
accredited institution  
 
• Five or more years of experience in one or more of the following disciplines: 
architecture, engineering (structural, mechanical or civil) and/or construction/cost

Guide Bulletin Update 08/26/25  Chapter 62SBL  – Page 19 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 62SBL – SBL Physical Risk Report Requirements  
questionnaire are “unknown”, the consultant must explain why this data gap is not a problem or 
an environmental assessment must be conducted.  If any responses to the questionnaire are  
“yes”, then an environmental assessment must be conducted.  
 
If an environmental assessment is warranted, refer to Sections 61.1 2(a) through 61.1 2(e). 
 
62SBL.14  Radon (06/30/16)  
SBL Properties are not required to be tested for the presence of radon.  
 
62SBL.15  Superlien status (06/30/16)  
Refer to Section 61.15.  
 
62SBL.16  Acceptability of the SBL Physical Risk Report (0 2/16/23) 
The SBL Physical Risk Report and the condition of the Property must be acceptable to Freddie 
Mac.  The SBL Physical Risk Report must specify an appropriate solution for each deficiency 
identified.  The consultant must identify the scope and estimated cost for all Critical Repairs and 
Priority Repairs and all potential  environmental concerns .  Upon Freddie Mac's review of the 
completed SBL Physical Risk Report, Freddie Mac may impose additional requirements.  
 
62SBL.17  Physical risk consultant qualifications and requirements ( 02/16/23 ) 
Consultants who conduct the on -site inspections and complete the SBL Physical Risk Reports 
must meet the qualifications and requirements specified in this section.  
 
Because Freddie Mac does not approve physical risk consultants, the Seller/Servicer must not 
consider any representation that a consultant is approved or qualified by Freddie Mac to 
prepare SBL Physical Risk Reports.  The Seller/Servicer is responsible for  selecting the 
consultant and is solely accountable for the consultant's performance.  The Seller/Servicer must 
ensure that the consultant is qualified to perform the required work.  
 
a. General requirements (06/30/16)  
Consultants' qualifications may vary with the needs of the specific assignment: general 
inspection services or specific technical analysis may be required.  The consultant must be 
able to analyze building systems, site conditions, and environmental issues professionally, 
identify deficiencies and recommend remedial responses with cost estimates.  
 
b. References and experience (02/ 16/23 ) 
A consultant performing inspections and preparing SBL Physical Risk Reports must have 
all of the following qualifications:  
 
• A bachelor’s or graduate degree in architecture or a related engineering field from an 
accredited institution  
 
• Five or more years of experience in one or more of the following disciplines: 
architecture, engineering (structural, mechanical or civil) and/or construction/cost

Guide Bulletin Update 08/26/25  Chapter 62SBL  – Page 20 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 62SBL – SBL Physical Risk Report Requirements  
estimating  
 
• Three or more years of experience performing multifamily property inspections  
 
• Two or more years of experience conducting similar work for financial institutions  
 
Personnel directly involved with analyzing the environmental information and data for the 
SBL Physical Risk Report must also have expertise in at least the following relevant areas:  
 
1. Soil and/or ground water contamination  
 
2. Soil and/or ground water sampling  
 
3. Asbestos identification and abatement  
 
4. PCB contamination  
 
5. UST identification, abandonment and removal supervision  
 
6. LBP identification and abatement design and supervision  
 
7. Familiarity with applicable federal, State and local environmental and public health laws 
and regulations  
 
8. Development of O&M programs  
  
For LBP and asbestos work, some States and municipalities require a license or certificate. 
The environmental consulting firm must have a sufficient number of properly licensed or 
certified employees to complete the project.  
 
Additional training must include a 24 -hour asbestos inspection course and an annual 
refresher course that, at a minimum, meets the EPA Guidelines for Asbestos Model 
Accreditation Plan Annual Refresher Training.  Subsurface soil service providers must also 
complete the 40 -hour Health and Safety Training for Hazardous Waste Operations course, 
with annual 8 -hour refresher courses.  
 
The Seller/Servicer must check at least three client references from the consultant's 
previous lenders to determine whether the projects were  
 
• Similar in scope and purpose to the Property  
 
• Completed on time  
 
• Of sufficient quality  
 
The Seller/Servicer must review the consultant's licensing and other certifications (in States 
where they are applicable), as well as listings of affiliations or memberships in professional 
organizations.  The Seller/Servicer must also maintain in its file  for review by Freddie Mac a 
current resume for the consultant, a current insurance certificate and the required 
references.