# 60.1 General requirements; Additional Requirements (06/24/25)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_2314
**Pages:** 1012-1012
**Section Path:** Third-Party Reports (Chs 60-69) > 60 - Appraiser and Appraisal Reqs GB-12-16-25 > 60.1 General requirements; Additional Requirements (06/24/25)

---

Guide Bulletin Update 12/16/25 Chapter 60 – Page 4 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 60 – Appraiser and Appraisal 
Requirements  
 General requirements ; Additional Requirements  (06/24/25) 
For all multifamily purchase programs and products, the Seller/Servicer must submit a written 
Appraisal on the Property with the full underwriting package submission or in connection with 
certain Special Servicing requests.   The Appraisal must comply with the requirements in this 
chapter and must take into account  the additional resources, guidance and FAQs available at 
mf.freddiemac.com/lenders/uw/appraisals .  For questions or feedback, contact the Multifamily 
Appraisal team at Multifamily_Appraisals@freddiemac.com .  
 
a. Appraisal requirements (0 5/22/25) 
The Appraisal  must  be:  
 
• In a narrative format  
 
• Ordered by the Seller/Servicer ; and 
 
• Completed by and signed by an appraiser approved by the Seller/Servicer  
 
Appraisals ordered by and/or prepared for anyone other than the Seller/Servicer  will not be 
accepted . 
 
To support the evaluation of the Mortgage l oan, the Appraisal  must:  
 
• Contain transparent and credible data analysis in a concise but comprehensive report 
format ; and   
 
• Be supported by the Seller/Servicer’s selection of well -qualified appraisers and the 
Seller/Servicer’s critical review of the Appraisals  
 
Note, e ffective for Mortgage  loans taken under Seller Application on or after February 20, 
2023, Seller/Servicers must also comply with the policies set forth in the Additional Appraisal 
Requirements Memorandum .  To the extent there is any conflict between the foregoing  
Memorandum  and the requirements of this chapter, the provisions of the foregoing  
Memorandum  govern.  
 
b. Purpose of Appraisal (0 5/22/25) 
Appraisals must :  
 
• Estimate the as -is market value of the Property as of the effective date (see Section 
60.9);  
 
• Identify the interests and estate being valued (as defined in the current edition of The 
Appraisal of Real Estate, published by the Appraisal Institute) ; and  
 
• Be subject to stated assumptions and limiting conditions  as of the effective date .  
 
Note, the leased fee interest should be valued when the Property is subject to tenant -
occupant leases (for any length of time) and there is no ground lease.  The leasehold interest