# Chapter B7-4, Liability and Fidelity/Crime Insurance Requirements for Project Developments

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_402
**Pages:** 900-900
**Section Path:** Part B, Origination Through Closing > Subpart B7, Insurance > Chapter B7-4, Liability and Fidelity/Crime Insurance Requirements for Project Developments

---

Published March 4, 2026
882Notice of Cancellation for Property Insurance
The following requirements apply to individual property insurance policies maintained by the borrower and do
not apply to master property insurance policies for project developments.
The following table provides the requirements for notice of cancellation on property insurance policies.
Project Type Requirement for Notice of Cancellation
One- to four-unit
properties
The property insurance policy must provide for written notice to the named insured and
mortgagee(s) before the insurer can cancel the policy. Individual units
in a project
development
 
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2022-10 December 14, 2022
Announcement SEL-2021-11 December 15, 2021
 
Chapter B7-4, Liability and Fidelity/Crime Insurance
Requirements for Project Developments
Introduction
This chapter describes the requirements for liability and ﬁdelity/crime insurance for project developments.