# B5-6-02, HomeReady Mortgage Underwriting Methods and Requirements (11/05/2025)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_364
**Pages:** 812-816
**Section Path:** Part B, Origination Through Closing > Subpart B5, Unique Eligibility and Underwriting Considerations > Chapter B5-6, HomeReady Mortgage > B5-6-02, HomeReady Mortgage Underwriting Methods and Requirements (11/05/2025)

---

Published March 4, 2026
794Announcements Issue Date
Announcement SEL-2019-08 October 02, 2019
Announcement SEL-2019-06 July 03, 2019
 
B5-6-02, HomeReady Mortgage Underwriting Methods and
Requirements (11/05/2025)
Introduction
This topic contains information about HomeReady mortgage loans, including:
Underwriting Options
Minimum Borrower Contribution for Purchase Transactions
Non-Occupant Borrowers
Rental Income from the Subject Property
Boarder Income
Cash-on-Hand
Sweat Equity
Minimum Reserve Requirements
Multiple Financed Properties
Borrowers with Low Credit Scores: Manual Underwriting Only
Underwriting Options
HomeReady mortgage loans can be underwritten with DU or may be manually underwritten. The maximum LTV
ratio is lower for manually underwritten transactions versus those underwritten in DU (95% versus 97% for one-
unit principal residences). As a reminder, the limited waiver of representations and warranties typically granted
for loans underwritten with DU does not apply to manually underwritten loans.
For HomeReady mortgage loans that are underwritten through DU, the lender must enter data in the online loan
application, identify the loan as a community lending mortgage, and select the HomeReady product.
If the lender does not select HomeReady as the community lending product, DU will provide a message when
the total qualifying income entered in DU appears to be within the applicable AMI limits for the property’s
location. The lender must then select the HomeReady product and resubmit the loan caseﬁle to help determine
if the loan meets all of the HomeReady requirements (assuming the lender wants to sell the loan to Fannie Mae
as a HomeReady mortgage).

Published March 4, 2026
795Minimum Borrower Contribution for Purchase Transactions
The following table describes the minimum borrower contribution requirements (excluding loans with grants).
LTV, CLTV, or HCLTV
RatioMinimum Borrower Contribution Requirement from Borrower's Own
Funds
80% or lessOne- to four-unit principal
residenceA minimum borrower contribution from the
borrower's own funds is not required.
Greater than 80%One-unit principal residenceA minimum borrower contribution from the
borrower's own funds in not required.
Two- to four-unit principal
residenceThe borrower must make a 3% minimum
contribution from their own funds unless
there is any type of grant.
Note:  If a grant or lender-funded grant is being provided, see  B3-4.3-06, Grants and Lender
Contributions   for additional borrower contribution requirements.
No minimum contribution is required in connection with a limited cash-out reﬁnance transaction.
Non-Occupant Borrowers
Non-occupant borrowers are permitted on HomeReady mortgages. See B2-2-04, Guarantors, Co-Signers, or Non-
Occupant Borrowers on the Subject Transaction , for the eligibility requirements that apply.
Rental Income from the Subject Property
Rental income is an acceptable source of qualifying income in the following instances:
one-unit principal residence with an accessory unit. See B4-1.3-05, Improvements Section of the
Appraisal Report , for additional details related to acceptable accessory units;
two- to four-unit principal residence properties.
See  B3-3.8-01, Rental Income , for calculation and documentation of rental income used for qualifying purposes.
Boarder Income
The rental payments that any borrower receives from one or more individuals who reside with the borrower
(who may or may not be related to the borrower) may be considered as acceptable stable income. This applies
for a one-unit property in an amount up to 30% of the total gross income that is used to qualify the borrower for

Published March 4, 2026
796the mortgage if the boarder
is not obligated on the mortgage loan and does not have an ownership interest in the property;
has lived with the borrower for the last 12 months;
can provide appropriate documentation to demonstrate a history of shared residency (such as a copy of a
driver’s license, bill, or bank statement that shows the boarder’s address as being the same as the
borrower’s address); and
can demonstrate the payment of rental payments (such as with copies of canceled checks) to the
borrower for
the last 12 months, or
at least 9 of the most recent 12 months provided the rental income is averaged over a 12–month
period.
Payment of rent by the boarder directly to a third party is not acceptable.
Cash-on-Hand
Lenders may deliver purchase money mortgages for one-unit properties with cash-on-hand as an acceptable
source of funds for the borrower’s down payment, funds for closing costs, and prepaid items.
Note : Cash-on-hand may not be used to fund the borrower’s reserve requirement, if applicable.
The lender must verify and document the following with respect to the cash-on-hand funds:
The borrower customarily uses cash for expenses, and the amount of funds saved is consistent with the
borrower’s previous payment practices.
The lender must verify that funds for the down payment and closing costs exist in a ﬁnancial institution
account or an acceptable escrow account. Funds must be on deposit at the time of application, or no less
than 30 days prior to closing.
The lender must obtain a written statement from the borrower that discloses the source of funds and
states that the funds have not been borrowed.
The borrower’s credit report and other veriﬁcations should indicate limited or no use of credit and limited
or no depository relationship between the borrower and a ﬁnancial institution.
Sweat Equity
Fannie Mae considers sweat equity an acceptable source of funds for HomeReady loans when the borrower
participates in an aﬀordable housing purchase program run by an eligible provider. Sweat equity program
providers must be a nonproﬁt organization exempt from taxation under Section 501(c)(3) of the IRS code with a
demonstrated history of aﬀordable housing construction and experience in managing volunteers.
Sweat equity can only be applied towards the down payment, and the borrower must comply with the
requirements in Minimum Borrower Contribution for Purchase Transactions . 
The following table provides the maximum sweat equity amount and LTV ratio requirements based on property
type.

Published March 4, 2026
797Property Type Maximum Sweat Equity Maximum LTV
One-unit residence None 95%
Two-to four-unit residence2% of the lesser of the purchase
price or appraised valueRefer to the Eligibility Matrix  for
maximum LTV ratios
The lender must document the loan is originated under a speciﬁc lending program. The value attributed to
sweat equity must be based on the hours of work performed. The following table provides instructions for
determining the contributory value of sweat equity.
Step Determining the Value of Sweat Equity
1.• The hours of work to be performed and the hourly rate established by the sweat equity program
provider must be fully documented in an agreement between the borrower and the provider.
• The hourly rate must conform with the national or state value of volunteer time per hour.
2.The hours of work performed each day must be recorded in a log managed by the sweat equity
program provider.
The log must include all of the following:
• program name,
• borrower name,
• work date(s),
• time in/out,
• number of hours,
• volunteer worker name,
• work location and activity, and
• supervisory approval.
Note:  The hours of work performed must be completed before the loan is closed.
3.The contributory value of the sweat equity is calculated by multiplying the total number of hours
of work performed by the hourly rate.
Example:
500 hours worked x $20 per hour = $10,000
4.The lender must review the agreement and log from the sweat equity program provider to
validate the contributory value of the sweat equity applied towards the down payment.
All documentation must be retained in the loan ﬁle.

Published March 4, 2026
798Minimum Reserve Requirements
For manually underwritten loans, the reserve requirements are documented in the Eligibility Matrix . For DU loan
caseﬁles, DU will determine the reserve requirement.
Multiple Financed Properties
The occupant borrower may not have more than two ﬁnanced properties. See B2-2-03, Multiple Financed
Properties for the Same Borrower , for the requirements.
Borrowers with Low Credit Scores: Manual Underwriting Only
For manually underwritten HomeReady mortgage loans secured by one-unit properties, if the loan-level credit
score is less than the minimum credit score required for a HomeReady mortgage, the loan may still be eligible
for purchase by Fannie Mae if the following requirements are met:
The credit report indicates that the borrower’s credit score is low due to an insuﬃcient traditional credit
history (as documented by reason codes on the credit report that indicate a lack of credit accounts,
accounts not opened long enough, lack of usage, etc., as reasons for the low credit score). If the
borrower’s credit score is low due to derogatory credit or if none of the reason codes noted above appear
on the credit report, then the minimum credit score for the transaction must be met (per the Eligibility
Matrix ).
The lender must supplement the traditional credit ﬁle (referred to as a “thin ﬁle”) with the development
of an acceptable nontraditional credit proﬁle in accordance with Section B3–5.4, Nontraditional Credit
History.
The lender must deliver the borrower’s credit score (even if below the minimum required) along with SFC
818 at loan delivery to identify HomeReady mortgage loans that have borrowers with thin ﬁles.
Note: Special Feature Code 818 should only be used to indicate a “thin ﬁle” HomeReady
mortgage loan.
Recent Related Announcements
The table below provides reference to recently issued Announcements that are related to this topic.
Announcements and Release Notes Issue Date
Announcement SEL-2025-09 November 05, 2025
Announcement SEL-2024-04 June 05, 2024
Announcement SEL-2023-02 March 01, 2023