# 3.1 Freddie Mac Seller/Servicer requirements and designations (02/24/26)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_130
**Pages:** 64-64
**Section Path:** Freddie Mac and SellerServicer Relationship (Chs 1-7) > 03 - SS Eligibility Reqs GB-02-24-26 > 3.1 Freddie Mac Seller/Servicer requirements and designations (02/24/26)

---

Guide Bulletin Update 02/24/26 Chapter 3 – Page 3 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the 
AllRegs web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 3 – Seller/Servicer Eligibility Requirements  
3.1 Freddie Mac Seller/Servicer requirements and designations ( 02/24/26 ) 
All Freddie Mac Seller/Servicers must:  
 
• Be a permanent organization and an ongoing concern  
 
• Be properly authorized to do business in each jurisdiction in which it engages in origination or 
Servicing  
 
• Be: 
 
o Organized under federal law, or  
 
o Organized under the laws of one of the 50 States, the District of Columbia, Guam, Puerto Rico 
or the Virgin Islands, or  
 
o A United States -domiciled branch or subsidiary of a foreign entity  
 
Freddie Mac, in its sole discretion, may approve a Seller/Servicer as one or more of the designations  
below in Sections 3.1(a) through (c).  See Section 3.1(d) for the Prescreen and Application Processes 
and fees.  
 
a. Optigo Lender  (06/15/23) 
An Optigo Lender must meet Freddie Mac’s eligibility requirements, including the net worth  
requirements in Section 3.3, and must be approved by Freddie Mac.  Optigo Lenders are 
approved to originate, sell, and service Mortgages for Freddie Mac, as follows:  
 
 1.  Optigo Conventional Lender  
 
Freddie Mac may approve a Seller/Servicer to originate conventional Mortgages for sale to 
Freddie Mac on an ongoing basis, and to service those Mortgages.  Such a Seller/Servicer 
will be designated as an Optigo Conventional Lender.  In the Guide, an Optigo  Conventional 
Lender will be referred to as a Conventional Seller/Servicer.  
 
 2.  Optigo Targeted Affordable Housing (TAH) Lender  
 
Freddie Mac may approve a Seller/Servicer to originate Targeted Affordable Housing 
Mortgages for sale to Freddie Mac on an ongoing basis, and to service those Mortgages. 
Such a Seller/Servicer will be designated as an Optigo Targeted Affordable Housing (TA H) 
Lender.  In the Guide, an Optigo TAH Lender will be referred to as a TAH Seller/Servicer.  
 
Section 3.13 outlines additional requirements applicable to TAH Seller/Servicers.   Once 
approved, a TAH Seller/Servicer will be permitted to originate loans for Targeted Affordable 
Housing properties in every State.  
 
 3.  Optigo Small Balance Loan Lender  
 
Freddie Mac may approve a Seller/Servicer to originate Small Balance Loan Mortgages for 
sale to Freddie Mac on an ongoing basis, and to service those Mortgages.  Such a