# a. Property condition consultant qualifications and requirements (07/01/14) + b. Property descriptio

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_996
**Pages:** 418-421
**Section Path:** Originating Cash and Bond Credit Enhancement Mortgages (Chs 17-28A) > 22 - Originating MHC Mortgages GB-04-22-25 > 22.6 Property condition and environmental reports (04/18/24) > a. Property condition consultant qualifications and requirements (07/01/14)

---

Guide Bulletin Update 04/22/25 Chapter 22 – Page 14 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 22 – Originating a Manufactured Housing 
Community Mortgage  
If there are Homes  owned by the Borrower or an Affiliate of the Borrower, the 
appraiser should evaluate if the allocation of Home Site rent and Home rent is 
congruent with the market.  
 
3. Separate valuations for realty and non -realty  
 
The Appraisal must clearly and prominently report the total market value of the Property 
as well as an allocation for Borrower -owned Manufactured Homes , contributory business 
value, personal property and/or other non -real estate items . 
 
In an acquisition, the appraiser must duly inquire about the price to be paid for 
Manufactured Homes owned by the Borrower or an Affiliate, and if the purchase of such 
Manufactured Homes is a condition of the sale.   The responses should be considered in 
the appraiser’s valuation.  
 
The appraiser will clearly, adequately and comprehensively discuss the value segregation 
process and provide market -derived data for the value allocations, including, where 
applicable, surveys of market participants, comparable sales data and authoritative  
sources for the appraiser’s allocation methodology.  
 
4. Affordability analysis  
 
The Appraisal must include an evaluation of and report on alternative housing options to 
determine the affordability of owning a Manufactured Home at the Property.  These 
housing options are evaluated to estimate the competitive position of the Property in the 
housing market.  The evaluation in the Appraisal must include a comparison of the cost of 
owning a Manufactured Home at the Property, purchasing a single -family  home in the 
region and renting an apartment in the region.  
 
22.6 Property condition and environmental reports ( 04/18/24)  
In addition to meeting the requirements of Chapters 61 and 62 with respect to environmental and 
property condition reports, the following requirements apply to all Mortgages secured by MHC 
Properties.   In the event of a conflict between the requirements of Chapters 61 or 62 and the 
requirements of this section, the requirements of this section will apply.  
 
a. Property condition consultant qualifications and requirements (07/01/14)  
In addition to the requirements set forth in Section 62.8(b), a property condition consultant 
must have two or more years of experience preparing property condition reports and 
performing inspections of MHCs.  
 
b. Property description and evaluation ( 04/18/24) 
In its review of the physical condition of the MHC, the property condition consultant must 
perform the following:  
 
1. Private wells

Guide Bulletin Update 04/22/25 Chapter 22 – Page 14 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 22 – Originating a Manufactured Housing 
Community Mortgage  
If there are Homes  owned by the Borrower or an Affiliate of the Borrower, the 
appraiser should evaluate if the allocation of Home Site rent and Home rent is 
congruent with the market.  
 
3. Separate valuations for realty and non -realty  
 
The Appraisal must clearly and prominently report the total market value of the Property 
as well as an allocation for Borrower -owned Manufactured Homes , contributory business 
value, personal property and/or other non -real estate items . 
 
In an acquisition, the appraiser must duly inquire about the price to be paid for 
Manufactured Homes owned by the Borrower or an Affiliate, and if the purchase of such 
Manufactured Homes is a condition of the sale.   The responses should be considered in 
the appraiser’s valuation.  
 
The appraiser will clearly, adequately and comprehensively discuss the value segregation 
process and provide market -derived data for the value allocations, including, where 
applicable, surveys of market participants, comparable sales data and authoritative  
sources for the appraiser’s allocation methodology.  
 
4. Affordability analysis  
 
The Appraisal must include an evaluation of and report on alternative housing options to 
determine the affordability of owning a Manufactured Home at the Property.  These 
housing options are evaluated to estimate the competitive position of the Property in the 
housing market.  The evaluation in the Appraisal must include a comparison of the cost of 
owning a Manufactured Home at the Property, purchasing a single -family  home in the 
region and renting an apartment in the region.  
 
22.6 Property condition and environmental reports ( 04/18/24)  
In addition to meeting the requirements of Chapters 61 and 62 with respect to environmental and 
property condition reports, the following requirements apply to all Mortgages secured by MHC 
Properties.   In the event of a conflict between the requirements of Chapters 61 or 62 and the 
requirements of this section, the requirements of this section will apply.  
 
a. Property condition consultant qualifications and requirements (07/01/14)  
In addition to the requirements set forth in Section 62.8(b), a property condition consultant 
must have two or more years of experience preparing property condition reports and 
performing inspections of MHCs.  
 
b. Property description and evaluation ( 04/18/24) 
In its review of the physical condition of the MHC, the property condition consultant must 
perform the following:  
 
1. Private wells

Guide Bulletin Update 04/22/25 Chapter 22 – Page 15 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 22 – Originating a Manufactured Housing 
Community Mortgage  
• Inspect all visible components and describe the system, including its historical 
operations and adequacy  
 
• Verify that access to equipment is restricted to authorized personnel  
 
• Provide costs for connecting to the municipal water system if one is readily 
available  
 
• Identify any backup water source in the event the system becomes unusable – if no 
source is in place, provide recommendations and costs for providing one  
 
• Confirm historical operations of the system, including any violations  
 
• Identify reserves needed to maintain the system  
 
• Confirm that private wells are common to the market  
 
• Confirm that the Borrower is the only party using or authorized to use the private 
wells servicing the MHC (i.e., no third -party has the right to tie -in to the Borrower's 
private wells and the Borrower's license or authorization to operate the private well s 
is not conditioned on providing private well services to another property).  
 
• Confirm professional third -party maintenance  
 
• Confirm that private wells meet or exceed applicable federal, state, and local 
requirements  
 
• Confirm that wells are neither owned nor maintained by residents  
 
2. Waste treatment system  
 
• Inspect all visible components and describe the system, including its historical 
performance and adequacy  
 
• Verify that access to the system is restricted to authorized personnel  
 
• Provide costs necessary to link into the municipal waste system if one is readily 
available  
 
• Describe the leach field and distance to surrounding bodies of water that could be 
impacted by the effluent  
 
• Confirm historical operations of the system, including any violations  
 
• Identify reserves needed to maintain the system and leach field  
 
• Confirm that no buildings or structures are located on top of the leach field  
 
• Confirm that private waste treatment systems are common to the market

Guide Bulletin Update 04/22/25 Chapter 22 – Page 16 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 22 – Originating a Manufactured Housing 
Community Mortgage  
• Confirm that the Borrower is the only party using or authorized to use the private 
waste treatment system or private waste system network servicing the MHC (i.e., 
no third -party has the right to tie -in to the Borrower's private waste treatment 
system and t he Borrower's license or authorization to operate the private waste 
treatment system is not conditioned on providing private waste treatment services 
to another Property).  
 
• Confirm professional third -party maintenance  
 
• Confirm that the waste treatment system meets or exceeds applicable federal, 
State, and local requirements  
 
• Confirm that waste treatment systems are neither owned nor maintained by 
residents  
 
3. Flood zone  
 
Determine if the MHC is located in a flood zone.  
 
4. Pad sites  
 
• Describe pad sites, including lot size  
 
• Describe utilities provided to the pad sites  
 
• Provide lot size mix based upon the maximum size each pad site can 
accommodate (single -wide, double -wide, etc.).  Additionally, confirm with 
management if smaller Manufactured Homes are allowed on pad sites intended for 
larger Manufactured Homes and if pad sites intended for smaller Manufactured 
Homes (e.g., single -wide) are allowed to be combined to accommodate large r 
Manufactured Homes (e.g., double -wide).  
 
• Inspect and comment on all vacant and Down Home Sites , detailing the condition of 
the pad site, utility connections and landscaping.  
 
5. Decks and patios  
 
Confirm that decks and patios are compliant with code , sound and provide adequate 
access to all Manufactured Homes.  
 
6. Manufactured Home installation  
 
Confirm that the installation of the Manufactured Homes is in compliance with all zoning 
and building codes.  
 
7. Skirting and hitches  
 
Confirm that all Manufactured Homes are professionally skirted (specify materials) and 
identify if there are any exposed hitches.

Guide Bulletin Update 04/22/25 Chapter 22 – Page 17 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 22 – Originating a Manufactured Housing 
Community Mortgage  
8. Inspection of Borrower -Owned Homes and buildings  
 
• Follow Guide requirements for inspection of Borrower -owned buildings (clubhouse, 
laundry, etc.)  
 
• Inspect 10 percent of Borrower -Owned Homes with a minimum of two  
 
• Inspect all vacant and down Borrower -Owned Homes  
 
• If Manufactured Homes are vacant but are not part of the collateral, then the 
exteriors of such Manufactured Homes must be inspected.  
 
9. Tenant -owned ancillary structures  
 
Confirm that tenant -owned ancillary structures (e.g., sheds, storage structures , etc.) are 
allowed on the pad sites.   Describe any deficiencies that could have a detrimental 
effect on other Manufactured Homes or the MHC as a whole (such as ancillary 
structures that do not appear to be permanent, or that do not meet community rules 
and regulations ). 
 
10. General site maintenance  
 
Confirm that all site components (street paving, curbing, mailboxes, site lighting, 
landscaping, drainage, etc.) appear to be consistently maintained .  
 
11. Properties located in an Elevated Seismic Hazard Region  
 
Confirm that all Borrower -Owned Homes that are inspected meet all local seismic 
codes and requirements.  
 
12. Electrical capacity  
 
A Manufactured Housing Community with electrical power under 60 amperes is 
permitted, provided that the property condition consultant confirms electrical power 
meets the minimum requirement of all State and local building codes.  If the electrical 
power is  below the requirements of any State or local building codes, the property 
condition consultant must:  
 
• Confirm the current power level is sufficient for the Manufactured Housing 
Community  (although  no load calculation is necessary ) 
 
• Recommend corrective measures as outlined in Section 22.6(c) or  Section 62.5(c) , 
as applicable  
 
The consultant must also:  
 
• Identify previous electrical problems  
 
• Confirm that electrical hookups are in place on all vacant Home Sites