# B5-2-03, Manufactured Housing Underwriting Requirements (10/08/2025) (part 4/4)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_320_sub_004
**Pages:** 720-725
**Section Path:** Part B, Origination Through Closing > Subpart B5, Unique Eligibility and Underwriting Considerations > Chapter B5-2, Manufactured Housing > B5-2-03, Manufactured Housing Underwriting Requirements (10/08/2025)

---

Published March 4, 2026
707Cash-Out Reﬁnance Transactions
A cash-out reﬁnance:
involves the payoﬀ of an existing ﬁrst lien mortgage secured by the manufactured home and land (or
existing liens if the home and land were encumbered by separate ﬁrst liens); or
enables the property owner to obtain a mortgage on a property that does not already have a mortgage
lien against it, and permits the borrower to take equity out of the property in the form of mortgage
proceeds that may be used for any purpose.
To be eligible for a cash-out reﬁnance, the property must be a multi-width manufactured home (single-width are
not permitted). The borrower must have owned both the manufactured home and land for at least 12 months
preceding the date of the loan application. The LTV, CLTV, and HCLTV ratios will be based on the current
appraised value of the manufactured home and land.
New Construction of a Manufactured Home
When the mortgage loan funds the construction of a new manufactured home, construction must be complete
when the loan is purchased (or securitized) by Fannie Mae. As a reminder, if construction is completed after the
ﬁrst payment date of the subject loan, the loan may be subject to the property value requirements (loans more
than four months old at time of purchase) or seasoned loan requirements in  B2-1.5-02, Loan Eligibility .
Construction-to-Permanent Transactions
The following construction-to-permanent transactions are permitted for the construction and permanent
ﬁnancing of a manufactured home:
single-closing transactions processed as a purchase or limited cash-out reﬁnance, and
two-closing limited cash-out reﬁnances. (Two-closing cash-out reﬁnances are not permitted.)
The loan must meet the requirements in Section B5-3.1, Conversion of Construction-to-Permanent Financing,
and all other manufactured home requirements in this Guide.
Uniform Appraisal Dataset (UAD) 3.6 Supplement
Lenders using UAD 3.6 must follow the requirements in the  UAD 3.6 Policy Supplement .
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2025-08 October 08, 2025