# c. Additional requirements pertaining to TIC Agreements (04/15/21)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_574
**Pages:** 261-261
**Section Path:** Property, Borrower and Credit Underwriting (Chs 8-11) > 09 - Borrower Fundamentals GB-04-21-26 > 9.12 Tenancy-in-common (TIC) (04/15/21) > c. Additional requirements pertaining to TIC Agreements (04/15/21)

---

Guide Bulletin Update 04/21/26  Chapter 9 – Page 20 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 9 – Borrower/ Borrower Principal  Fundamentals  
• Provision that the TIC Agreement is subject to all requirements and restrictions set 
forth in the Freddie Mac Loan Documents, noting particularly that any provisions for 
transfer of ownership interests are subject to, and may be limited by, the provisions of 
the Loan Documents  
 
c. Additional requirements pertaining to TIC Agreements ( 04/15/21 ) 
If the TIC Agreement fails to fully satisfy any of the requirements outlined in Sections 9.12(a)  
and (b) above , and the TIC Agreement will not be modified prior to the Origination Date of the 
Mortgage to comply with all of the requirements, the Seller/Servicer’s legal counsel must 
provide a legal analysis detailing which requirement(s) will not be satisfied and th e counsel’s 
recommendation as to whether and why Freddie Mac should accept the TIC Agreement 
without it being fully compliant with this Section 9. 12.  If the TIC Agreement fully satisfies all 
of the requirements above, the Seller/Servicer’s legal counsel must confirm in a PLIM that all 
such requirements have been satisfied.