# 61.2 Environmental assessment requirements (02/16/23)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_2382
**Pages:** 1059-1059
**Section Path:** Third-Party Reports (Chs 60-69) > 61 - Environmental Reqs GB-05-22-25 > 61.2 Environmental assessment requirements (02/16/23)

---

Guide Bulletin Update 05/22/25  Chapter 61 – Page 6 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 61 – Environmental Requirements  
 Environmental assessment requirements  (02/16/23 ) 
 Use of a qualified environmental consultant (0 2/16/23 ) 
Any environmental assessment and environmental report must be prepared by an environmental 
consultant who is an “Environmental Professional” as that term is defined in 40 CFR § 312.10 
and who meets the qualifications and requirements specified in Section 6 1.17.  
 Environmental assessment methodology (02/16/23 ) 
1. Objective  
 
The purpose of the environmental assessment is to identify recognized environmental 
conditions or other potential sources of environmental liability in connection with the 
Property.  
 
2. Environmental issues to be evaluated  
 
Each environmental assessment must evaluate conditions and contaminants within the 
scope of the Comprehensive Environmental Response, Compensation and Liability Act 
(“CERCLA”), which include the following issues (“ Scope Issues”):  
 
a. Hazardous materials (see Section 61.5)  
 
b. Storage tanks (see Section 61.6)  
 
c. Polychlorinated biphenyls (PCBs) (see Section 61.7)  
 
d. Prior use (see Section 61.8)  
 
e. Neighborhood hazardous waste activity (see Section 61.9)  
 
Each environmental assessment must also include an evaluation of the following potential 
environmental hazards or issues (“ Non-Scope Issues”):  
 
a. Asbestos -containing materials (ACM)  (see Section 61.10)  
 
b. Lead -based paint (LBP) (see Section 61.11)  
 
c. Drinking water quality (see Section 61.12)  
 
d. Mold (see Section 61.13)  
 
e. Radon (see Section 61.14)  
 
f. Superlien status (see Section 61.15)  
 
3. Age of environmental report