# 64.7 Inspection requirements for the Level 1 SRA (12/15/22) + 64.8 Seismic loss estimation requireme

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_2575
**Pages:** 1150-1151
**Section Path:** Third-Party Reports (Chs 60-69) > 64 - Seismic Risk Assessment Req GB-12-15-22 > 64.7 Inspection requirements for the Level 1 SRA (12/15/22)

---

Guide Bulletin Update 12/15/22 Chapter 64 – Page 8 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 64 – Seismic Risk Assessment 
Requirements  
is not required to comment on their procedures, protocol, conclusions, or recommendations unless 
in conflict with the Consultant’s findings.  The Consultant should only utilize such information in 
formulating recommendations or conclusions if such document s appear reasonably accurate.  The 
Seller/Servicer must ensure that all such information is provided to the Consultant before the 
Consultant inspects the Property.  
 
The Level 1 SRA must identify the information the Consultant reviewed and the contacts that were 
consulted.  
 
At a minimum the following must be reviewed (as applicable) and incorporated into the SRA 
report:  
 
• As-Built Construction Documents  – Review of as -built documentation may be limited to 
structural information such as the type of framing material, strength of concrete or steel, type 
of column -to-beam connections, composition of shear walls, quantity of reinforcing bars, 
symmetry of buil ding configuration, transference of loads to the substructure, nature of the 
substructure, and nature of the soils.  
 
• Documents for Planned Construction  – Review of documentation for planned construction 
at the Property, such as seismic retrofit or renovation work, that will likely affect the 
performance and damageability of the Property during a seismic event.  
 
• Soils Reports  – Review of available geotechnical information and comment on the soil type, 
geotechnical features and the potential for soil liquefaction, ground fault rupture, and 
landslides.  
 
• Building Information  – Identification of the building type and any federal, State or local law, 
ordinance or code under which it was designed.  
 
• Active Earthquake Faults  – Identification of any active faults in the region that may affect the 
Property, and report on their maximum credible magnitude potential.  
 
• Secondary Earthquake Hazards  – Identification of secondary, site -specific hazards such as 
soil liquefaction, earthquake -induced landslides, and tsunamis or seiches.  
 
64.7 Inspection requirements for the Level 1 SRA ( 12/15/22 ) 
The Consultant must perform a complete inspection of the exterior and interior of the Property’s 
components and systems that are visible and accessible.  This is generally a non -intrusive survey, 
but the Consultant must make a reasonable attempt at discove ry.  This inspection must document 
the building characteristics, any substantive inconsistencies between the field conditions and as -
built documents, and any deficiencies in the structural systems.  The Consultant must also 
document the sufficiency of non -structural elements including natural gas seismic shut -off valves,  
bracing  and anchorage  of secondary building systems, such as mechanical equipment and 
ceilings.  The Consultant must provide photographic documentation that characterizes the 
Property’s overall construction and configuration and that identifies specific vulnerabilities or signs 
of physical distress.

Guide Bulletin Update 12/15/22 Chapter 64 – Page 9 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 64 – Seismic Risk Assessment 
Requirements  
64.8 Seismic loss estimation requirements for the Level 1 SRA (12/15/ 22) 
Based on the records submitted, site observations, and empirical data available through peer -
reviewable data systems, the Consultant must render an opinion, in conformance with the ASTM 
Standard Guide E2026 -16a and ASTM Standard Practice E2557 -16a, of both  the Scenario 
Expected Loss (SEL) and Scenario Upper Loss (SUL) as a percentage of the current building 
replacement cost.  The SEL and SUL must be determined using the  earthquake with a  10 percent 
probability of exceedance in 50 years (a.k.a. 475 -year retu rn period earthquake).  The SEL and 
SUL based on the 10 percent probability of exceedance in 50 years (475 -year return period 
earthquake) will be referred to as the SEL -475 and SUL -475 within this Guide.  The Consultant 
must include, as applicable, a gener al description of the anticipated damage to the structure and 
its expected life safety and building stability performance as a result of these scenario losses.  The 
Consultant’s method for calculating seismic loss estimates must be peer -reviewable, with al l input, 
engineering assumptions and output documented in the report for third -party review.  
 
For Properties where multiple building construction types are present (for example: buildings with 
tuck-under parking vs. buildings without tuck -under parking; garden -style buildings vs. high -rise 
buildings; linear buildings vs. L -shaped buildings), the Co nsultant must provide the SEL -475 and 
SUL-475 for each building construction type.  
 
For additional information on evaluating the SEL -475 to determine the need for earthquake 
insurance or a seismic retrofit, see Section 64.14.  
 
64.9 Report content for the Level 1 SRA (12/15/16)  
The Consultant must include the findings from the Consultant’s records review, site observations, 
and interpretation of data in a written report containing the following elements:  
 
• Cover Page  – must include the Property’s name and address, report date, the client’s name, 
address, and phone number, and the Consultant’s name, address and phone number.  
 
• Certification Memo  – must include the Property’s name and location, report date, reliance 
language, confirmation that the report meets ASTM Standard Guide E2026 -16a, ASTM 
Standard Practice E2557 -16a and this Guide, identification of the field and office personnel 
responsibl e for the report, and the signature of the reviewer. Any deviations from the ASTM 
Standard Guide E2026 -16a must be identified in the Certification Memo.  
 
• Executive Summary  – must include the following:  
 
o All salient information about the buildings at the Property, such as their location, use, size, 
age, construction type, and design style . 
 
o Summary of the findings of the analysis including a description of the general condition of 
the Property . 
 
o Specific areas of concern . 
 
o The SEL -475 and SUL -475 as a percentage damage ratio, and the peak ground 
acceleration motions and the approximate Modified Mercalli scale intensity at the site .