# a. Report due dates (12/07/05) + b. Reporting requirements for myOptigo for Investor Reporting (04/1

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_2149
**Pages:** 883-883
**Section Path:** Accounting and Reporting (Chs 50-54) > 50 - General Accounting and Reporting GB-04-18-24 > 50.9     Monthly reporting and exception activity (04/15/21) > a. Report due dates (12/07/05)

---

Guide Bulletin Update 04/18/24 Chapter 50 – Page 8 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the 
AllRegs web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 50 – General Accounting and Reporting Requirements  
 
• Mortgages paid in full or repurchased (Sections 54.3 and 54.4)  
 
• Mortgages liquidated by third -party foreclosure sale (Section 54.5)  
 
• Mortgages transferred to REO (Section 54.6)  
 
• Mortgages sold into a Securitization  
 
4. Loan -level reporting information  
 
Information about loan activity and status of a Mortgage reported on an individual loan basis . 
 
5. 55-Day Multi PC determination date  
 
55 Day Multi PC replaces traditional “Accounting Cutoff” language with the introduction of the 
“Determination Date” .  For each month, the close of business on the date indicated on the yearly 
Due Date Calendar for Monthly Reporting and Remitting . 
 
6. 55-Day Multi PC interest accrual period  
 
The calendar month preceding the 55 -Day Multi PC determination date.  
  
50.9     Monthly reporting and exception activity ( 04/15/21 ) 
Every month, each Servicer must report to Freddie Mac, via myOptigoSM for Investor Reporting , all 
transactions affecting the Mortgages serviced (see Section 50.9 (b)).  The monthly automated reports 
must include all loans with an unpaid principal balance as of the beginning of that accounting cycle.  
 
The entries that a Servicer must transmit include monthly principal reductions, net yield interest and 
unscheduled principal reductions since the previous month's accounting cutoff date.  Freddie Mac 
relies on the Servicer's accuracy in reporting principal reductions to determine the amounts Freddie 
Mac will pay to its security investors and report to its stockholders.  
 
If an exception activity occurs with respect to a Mortgage serviced, then the exception activity must be 
reported via myOptigo for Investor Reporting . 
 
a. Report due dates (12/07/05)  
See Section 50.10 for information on due dates for loan -level transactions.  
 
b. Reporting requirements for myOptigo for Investor Reporting  (04/15/21 ) 
Automated transmission of accounting transactions via myOptigo for Investor Reporting  is 
mandatory for all Freddie Mac Multifamily Mortgages.  Transmissions must be usable, accurate 
and timely.  Failure to comply with these requirements will result in the assessment of the 
accounting reporting noncompliance fees set forth in Section 54.9.  For further information on 
reporting requirements for myOptigo for Investor Reporting , contact Freddie Mac Multifamily Loan 
Accounting .

Guide Bulletin Update 04/18/24 Chapter 50 – Page 8 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the 
AllRegs web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 50 – General Accounting and Reporting Requirements  
 
• Mortgages paid in full or repurchased (Sections 54.3 and 54.4)  
 
• Mortgages liquidated by third -party foreclosure sale (Section 54.5)  
 
• Mortgages transferred to REO (Section 54.6)  
 
• Mortgages sold into a Securitization  
 
4. Loan -level reporting information  
 
Information about loan activity and status of a Mortgage reported on an individual loan basis . 
 
5. 55-Day Multi PC determination date  
 
55 Day Multi PC replaces traditional “Accounting Cutoff” language with the introduction of the 
“Determination Date” .  For each month, the close of business on the date indicated on the yearly 
Due Date Calendar for Monthly Reporting and Remitting . 
 
6. 55-Day Multi PC interest accrual period  
 
The calendar month preceding the 55 -Day Multi PC determination date.  
  
50.9     Monthly reporting and exception activity ( 04/15/21 ) 
Every month, each Servicer must report to Freddie Mac, via myOptigoSM for Investor Reporting , all 
transactions affecting the Mortgages serviced (see Section 50.9 (b)).  The monthly automated reports 
must include all loans with an unpaid principal balance as of the beginning of that accounting cycle.  
 
The entries that a Servicer must transmit include monthly principal reductions, net yield interest and 
unscheduled principal reductions since the previous month's accounting cutoff date.  Freddie Mac 
relies on the Servicer's accuracy in reporting principal reductions to determine the amounts Freddie 
Mac will pay to its security investors and report to its stockholders.  
 
If an exception activity occurs with respect to a Mortgage serviced, then the exception activity must be 
reported via myOptigo for Investor Reporting . 
 
a. Report due dates (12/07/05)  
See Section 50.10 for information on due dates for loan -level transactions.  
 
b. Reporting requirements for myOptigo for Investor Reporting  (04/15/21 ) 
Automated transmission of accounting transactions via myOptigo for Investor Reporting  is 
mandatory for all Freddie Mac Multifamily Mortgages.  Transmissions must be usable, accurate 
and timely.  Failure to comply with these requirements will result in the assessment of the 
accounting reporting noncompliance fees set forth in Section 54.9.  For further information on 
reporting requirements for myOptigo for Investor Reporting , contact Freddie Mac Multifamily Loan 
Accounting .