# B3-4.1-01, Minimum Reserve Requirements (08/07/2024)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_186
**Pages:** 417-422
**Section Path:** Part B, Origination Through Closing > Subpart B3, Underwriting Borrowers > Chapter B3-4, Asset Assessment > Section B3-4.1, General Asset Requirements > B3-4.1-01, Minimum Reserve Requirements (08/07/2024)

---

Published March 4, 2026
399The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2025-08 October 08, 2025
Announcement SEL-2025-04 June 04, 2025
Announcement SEL-2025-02 April 02, 2025
Announcement SEL-2023-09 October 04, 2023
Announcement SEL-2022-04 May 04, 2022
Announcement SEL-2020-03 June 03, 2020
Announcement SEL-2020-01 February 05, 2020
Announcement SEL-2019-08 October 02, 2019
Announcement SEL-2019-05 June 05, 2019
Announcement-SEL-2018-06 August 07, 2018
 
Chapter B3-4, Asset Assessment
Introduction
This chapter explains asset assessment for qualifying, underwriting, and documentation purposes.
Section B3-4.1, General Asset Requirements

Published March 4, 2026
400B3-4.1-01, Minimum Reserve Requirements (08/07/2024)
Introduction
This topic contains information on minimum reserve requirements, including:
What Are Liquid Financial Reserves?
Acceptable Sources of Reserves
Unacceptable Sources of Reserves
Supplementing Borrower Funds
Determining Required Minimum Reserves
Calculation of Reserves for Multiple Financed Properties
Simultaneous Second Home or Investment Property Transactions
Examples of Reserves Calculations
Additional Resources
What Are Liquid Financial Reserves?
Liquid ﬁnancial reserves are those liquid or near liquid assets that are available to a borrower after the
mortgage closes. Liquid ﬁnancial reserves include cash and other assets that are easily converted to cash by
the borrower by
drafting or withdrawing funds from an account,
selling an asset,
redeeming vested funds, or
obtaining a loan secured by assets from a fund administrator or an insurance company.
Reserves are measured by the number of months of the qualifying payment amount for the subject mortgage
(based on PITIA) that a borrower could pay using their ﬁnancial assets. For monthly housing expense and
qualifying payment requirements, see B3-6-03, Monthly Housing Expense for the Subject Property  and B3-6-04,
Qualifying Payment Requirements .
The deﬁnition of reserves applies to both manually underwritten mortgage loans and loan caseﬁles underwritten
through DU. Funds to close are subtracted from available assets when considering suﬃcient assets for reserves.
Acceptable Sources of Reserves
Examples of liquid ﬁnancial assets that can be used for reserves include readily available funds in
checking or savings accounts;
investments in stocks, bonds, mutual funds, certiﬁcates of deposit, money market funds, and trust
accounts;
the amount vested in a retirement savings account; and

Published March 4, 2026
401the cash value of a vested life insurance policy.
Unacceptable Sources of Reserves
The following cannot be counted as part of the borrower’s reserves:
funds that have not been vested;
funds that cannot be withdrawn under circumstances other than the account owner’s retirement,
employment termination, or death;
stock held in an unlisted corporation;
non-vested stock options and non-vested restricted stock;
personal unsecured loans;
rent-back credit;
interested party contributions (IPCs) (see B3-4.1-02, Interested Party Contributions (IPCs) );
any amount of a lender contribution (see B3-4.3-06, Grants and Lender Contributions ); and
cash proceeds from a cash-out reﬁnance transaction on the subject property.
Supplementing Borrower Funds
Funds received from acceptable sources may be used to supplement the borrower’s funds to satisfy any
ﬁnancial reserve requirement.
Note : Eligible gift funds (but not gifts of equity) may be used to satisfy reserve requirements.
Determining Required Minimum Reserves
Minimum required reserves vary depending on
the transaction,
the occupancy status and amortization type of the subject property,
the number of units in the subject property, and
the number of other ﬁnanced properties the borrower currently owns.
Manually underwritten loans : The minimum required reserves are documented in the Eligibility Matrix .
DU loan caseﬁles : DU will determine the reserve requirements based on the following:
Two months' reserves for a second home transaction.
Six months' reserves for the following:
a two- to four-unit principal residence transaction,
an investment property transaction, and

Published March 4, 2026
402a cash-out reﬁnance transaction with a DTI ratio greater than 45%.
Additional reserves are required when a borrower has multiple ﬁnanced properties and the subject loan is
secured by a second home or investment property. See Calculation of Reserves for Multiple Financed
Properties  below for additional details.
Reserves equal to the balance of 30-day accounts (reduced by the cash back received on a reﬁnance
transaction).
Additional reserves may need to be veriﬁed based on DU's overall risk assessment.
Note : There is no minimum reserve requirement for one-unit principal residence transactions. High
LTV reﬁnance loans are exempt from the minimum reserve requirements.
Calculation of Reserves for Multiple Financed Properties
If the borrower owns other ﬁnanced properties (determined in accordance with B2-2-03, Multiple Financed
Properties for the Same Borrower ), additional reserves must be calculated and documented for ﬁnanced
properties other than the subject property and the borrower’s principal residence. The other ﬁnanced properties
reserves amount must be determined by applying a speciﬁc percentage to the aggregate of the outstanding
unpaid principal balance (UPB) for mortgages and HELOCs on these other ﬁnanced properties. The percentages
are based on the number of ﬁnanced properties:
2% of the aggregate UPB if the borrower has one to four ﬁnanced properties,
4% of the aggregate UPB if the borrower has ﬁve to six ﬁnanced properties, or
6% of the aggregate UPB if the borrower has seven to ten ﬁnanced properties (DU only).
The aggregate UPB calculation does not include the mortgages and HELOCs that are on
the subject property,
the borrower’s principal residence,
properties that are sold or pending sale, and
accounts that will be paid by closing (or omitted in DU on the online loan application).
Simultaneous Second Home or Investment Property Transactions
If a lender is processing multiple second home or investment property applications simultaneously, the same
assets may be used to satisfy the reserve requirements for both mortgage applications. Reserves are not
cumulative for multiple applications.
Example: A lender is simultaneously processing two reﬁnance applications for two investment properties owned
by the borrower. The application for property A requires reserves of $5,000. The application for property B
requires reserves of $10,000. Because the reserves are covering the same properties, the lender does not have
to verify $15,000 in reserves, but only those required per each application.
Examples of Reserves Calculations

Published March 4, 2026
403The following tables contain examples of reserves calculations for borrowers with multiple ﬁnanced properties.
Example 1: Three Financed Properties
Occupancy Outstanding
UPBMonthly PITIA Reserves Calculations
Subject: Second
Home$78,750 $776 2 Months PITIA = $1,552
Principal $0 $179 N/A $0
Investor $87,550 $787
$230,050 x 2% = $4,601
Investor $142,500 $905
 $230,050  Total = $6,153
Example 2: Six Financed Properties
Occupancy Outstanding
UPBMonthly PITIA Reserves Calculations
Subject: Investor $78,750 $776 6 Months PITIA = $4,656
Principal $133,000 $946 N/A $0
Investor $87,550 $787
$345,030 x 4% = $13,801Investor $142,500 $905
Investor $84,950 $722
Investor $30,030 $412
 $345,030  Total = $18,457
Example 3: Eight Financed Properties (DU ONLY)

Published March 4, 2026
404Occupancy Outstanding
UPBMonthly PITIA Reserves Calculations
Subject: Investor $78,750 $776 6 Months PITIA = $4,656
Principal $133,000 $946 N/A $0
Investor $87,550 $787
$629,530 x 6% = $37,772Investor $142,500 $905
Investor $84,950 $722
Investor $30,030 $412
Second Home $124,500 $837
Investor $160,000 $1,283
 $629,530  Total = $42,427
Additional Resources
 
B2-2-03, Multiple Financed Properties for the Same Borrower ;
B3-4.4-01, DU Asset Veriﬁcation ;
B3-6-03, Monthly Housing Expense for the Subject Property ; and
B3-6-04, Qualifying Payment Requirements .
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2024-05 August 07, 2024
Announcement SEL-2023-03 April 05, 2023