# Section B3-4.1, General Asset Requirements

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_185
**Pages:** 417-417
**Section Path:** Part B, Origination Through Closing > Subpart B3, Underwriting Borrowers > Chapter B3-4, Asset Assessment > Section B3-4.1, General Asset Requirements

---

Published March 4, 2026
399The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2025-08 October 08, 2025
Announcement SEL-2025-04 June 04, 2025
Announcement SEL-2025-02 April 02, 2025
Announcement SEL-2023-09 October 04, 2023
Announcement SEL-2022-04 May 04, 2022
Announcement SEL-2020-03 June 03, 2020
Announcement SEL-2020-01 February 05, 2020
Announcement SEL-2019-08 October 02, 2019
Announcement SEL-2019-05 June 05, 2019
Announcement-SEL-2018-06 August 07, 2018
 
Chapter B3-4, Asset Assessment
Introduction
This chapter explains asset assessment for qualifying, underwriting, and documentation purposes.
Section B3-4.1, General Asset Requirements