# Chapter A3-2, Compliance With Requirements and Laws

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_041
**Pages:** 107-107
**Section Path:** Part A, Doing Business with Fannie Mae > Subpart A3, Getting Started With Fannie Mae > Chapter A3-2, Compliance With Requirements and Laws

---

Published March 4, 2026
89To become an approved user of any of Fannie Mae’s single-family technology applications, lenders should visit
the Technology Manager page  for instructions in how to register for an application. Sellers/servicers must
execute a Software Subscription Agreement to obtain access to any of Fannie Mae’s technology applications.
See Software Subscription Agreement in the Consolidated Technology Guide , for more information.
Operational Setup
Fannie Mae provides assistance to all newly approved lenders to ensure that they are set up properly to conduct
business with Fannie Mae. Once a lender is approved as a seller or servicer, a senior Fannie Mae marketing
consultant contacts the lender to provide information about establishing bank accounts, getting started with
Fannie Mae technology, and taking advantage of relevant training.
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcement Issue Date
Announcement SEL-2021-09 October 06, 2021
Announcement-SEL-2018-04 May 01, 2018
 
Chapter A3-2, Compliance With Requirements and Laws
Introduction
This chapter describes an approved lender’s obligation to comply with various laws related to mortgage lending
and servicing, and to adhere to responsible lending practices when originating mortgage loans for delivery to
Fannie Mae.
A3-2-01, Compliance With Laws (12/10/2025)
Introduction
This topic contains information on compliance with laws, including:
General Obligations
Additional Requirements Related to Compliance with Laws
Reporting Requirements