# B2-1.3-05, Payoff of Installment Land Contract Requirements (12/11/2024)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_085
**Pages:** 205-205
**Section Path:** Part B, Origination Through Closing > Subpart B2, Eligibility > Chapter B2-1, Mortgage Eligibility > Section B2-1.3, Loan Purpose > B2-1.3-05, Payoff of Installment Land Contract Requirements (12/11/2024)

---

Published March 4, 2026
187Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2021-07 August 04, 2021
Announcement SEL-2020-05 September 02, 2020
Announcement SEL-2019-07 August 07, 2019
 
B2-1.3-05, Payoﬀ of Installment Land Contract Requirements
(12/11/2024)
Introduction
This topic contains requirements for the payoﬀ of installment land contracts.
Payoﬀ of Installment Land Contract Requirements
Payoﬀ of Installment Land Contract Requirements
When the proceeds of a mortgage loan are used to pay oﬀ the outstanding balance on an installment land
contract (also known as contract or bond for deed) that was executed within the 12 months preceding the date
of the loan application, Fannie Mae will consider the mortgage loan to be a purchase money mortgage loan.
The LTV ratio for the mortgage loan must be determined by dividing the new loan amount by the lesser of the
total acquisition cost (deﬁned as the purchase price indicated in the land contract, plus any costs the purchaser
incurs for rehabilitation, renovation, or energy conservation improvements) or the appraised value of the
property at the time the new mortgage loan is closed. The expenditures included in the total acquisition cost
must be fully documented by the borrower.
When the installment land contract was executed more than 12 months before the date of the loan application,
Fannie Mae will consider the loan to be a limited cash-out reﬁnance in accordance with B2-1.3-02, Limited Cash-
Out Reﬁnance Transactions . In this case, the LTV ratio for the mortgage loan must be determined by dividing
the new loan amount by the appraised value of the property at the time the new mortgage loan is closed.
Cash-out reﬁnance transactions involving installment land contracts are not eligible for delivery.