# c. Specific requirements for property condition reports (02/17/22)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_2473
**Pages:** 1091-1092
**Section Path:** Third-Party Reports (Chs 60-69) > 62 - Property Condition Reqs GB-12-12-24 > 62.3     Property condition report requirements (12/12/24) > c. Specific requirements for property condition reports (02/17/22)

---

Guide Bulletin Update 12/12/24 Chapter 62 – Page 6 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
 
Guide Chapter 62 – Property Condition Report Requirements  
o Any Life Safety Hazard that is about to cause harm and represents an imminent or 
immediate risk  to tenants that encounter the hazard   
 
o Any condition that may cause imminent damage or is the cause of immediate damage 
to any major building system or structure that if left uncorrected, could result in a Critical 
Repair    
 
• Routine Repairs and Maintenance – Repairs and maintenance that are expected to be 
completed by the Borrower in the normal course of property operations  and are nominal in 
cost.  These repairs are not considered to be Critical  Repairs  or Priority Repairs and include 
work that is:  
 
o Often preventative in nature  
 
o Accomplished within the Property’s normal operating budget  
 
o Typically completed by on -site staff  
 
o Focused on keeping the Property fully functioning and serviceable  
 
o Minor Deficiencies or Deferred Maintenance  with a cost of $3000 or less per repair item   
 
The property condition consultant is not expected to identify in the property condition report 
Routine Repairs and Maintenance that are part of a current standard property operating 
procedure so long as these items appear to have been repaired or maintaine d regularly.   The 
property condition consultant should assess if  items that show a lack of repair and maintenance 
warrant categorization as a Priority Repair.  
 
See Section 62.6( f) for the requirement to identify capital needs over the term of the Mortgage 
(Replacement Reserves).  
 
c. Specific requirements for property condition reports ( 02/17/22) 
Form 1105, Property Condition Assessment,  must be completed and submitted as described in 
Section 62.6.  
 
The property condition report must:  
 
• Clearly state any limiting conditions and the intended purpose of the report  
 
• Identify deviations from the Guide requirements and the most recent version of ASTM 
standard E2018  
 
• Be dated within six months prior to the date on which the full underwriting package is 
delivered to Freddie Mac  
 
At initial submission of the full underwriting package to Freddie Mac, the site inspection 
supporting the property condition report must be dated within 30 days prior to the date of the 
property condition report.

Guide Bulletin Update 12/12/24 Chapter 62 – Page 7 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
 
Guide Chapter 62 – Property Condition Report Requirements  
In addition, the Seller/Servicer must direct the property condition consultant to include the 
following language in the property condition report:  
 
“This report is for the use and benefit of, and may be relied upon by  
 
a. the Seller/Servicer, Freddie Mac and any successors and assigns (“Lender”);  
 
b. independent auditors, accountants, attorneys and other professionals acting on behalf of 
Lender;  
 
c. governmental agencies having regulatory authority over Lender;  
 
d. designated persons pursuant to an order or legal process of any court or governmental 
agency;  
 
e. prospective purchasers of the Mortgage; and  
 
f. with respect to any debt (or portion thereof) and/or securities secured, directly or 
indirectly, by the Property which is the subject of this report, the following parties and 
their respective successors and assigns:  
 
o any placement agent or broker/dealer and any of their respective affiliates, agents 
and advisors;  
 
o any initial purchaser or subsequent holder of such debt and/or securities;  
 
o any Servicer or other agent acting on behalf of the holders of such debt and/or 
securities;  
 
o any indenture trustee;  
 
o any rating agency; and  
 
o any institutional provider from time to time of any liquidity facility or credit support for 
such financings.  
 
In addition, this report, or a reference to this report, may be included or quoted in any 
offering circular, information circular, offering memorandum, registration statement, 
private placement memorandum, prospectus or sales brochure (in either electronic  or 
hard copy format) in connection with a securitization or transaction involving such debt 
(or portion thereof) and/or securities.”  
 
Freddie Mac may require that the property condition report be updated if the property condition 
report is dated more than six months prior to the date that the Letter of Commitment or 
Acceptance  Letter or Modification  Letter, as applicable , for an early rate -lock application is 
issued.  
 
Freddie Mac may require other specialized reports to address specific issues, when needed.