# 19.2 Mortgage requirements (12/16/25)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_788
**Pages:** 345-345
**Section Path:** Originating Cash and Bond Credit Enhancement Mortgages (Chs 17-28A) > 19 - Originating TAH Cash Mortgages GB-12-16-25 > 19.2 Mortgage requirements (12/16/25)

---

Guide Bulletin Update 12/16/25 Chapter 19 – Page 3 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 1 9 – Originating a Targeted 
Affordable Housing Cash Mortgage  
d. Securitization of Mortgages (03/03/14)  
The provisions of Section 17.1(d) apply.  
 
e. Delivery options (03/03/14)  
The provisions of Section 17.1(e) apply.  
 
f. Minimum Origination Fee (09/22/17)  
The provisions of Section 17.1(f) apply.  
 
g. Other requirements (03/31/11)  
All Mortgages submitted for purchase under the Targeted Affordable Housing Cash Mortgage 
Purchase Program must comply with the requirements of Chapters 8, 9 and 10 as well as 
with the requirements of this chapter.  
 
19.2 Mortgage requirements  (12/16/25) 
a. Requirements applicable to all Targeted Affordable Housing Cash Mortgages 
(08/26/25) 
The requirements below apply for all TAH Mortgages unless otherwise indicated in this 
Chapter 19.  
 
1. Eligible Mortgages are as follows:  
 
• Mortgages for the purpose of the refinancing or acquisition (including Preservation 
Rehabilitation Mortgages) of the Property are eligible.  
 
• The term of the Mortgage must be from 5 to 35 years, except as follows: (a)  a 
Mortgage  for a LIHTC Property must have a  minimum term  that is the lesser of 15 
years or the remaining term of the LIHTC compliance period ; and (b) a Preservation 
Rehabilitation Mortgage for a Non -LIHTC Property must have a term between 5 and 
15 years.  
 
• A refinance test is not required for a Mortgage with a loan term and amortization 
period of 15 years or more; see Section 23.3(c) for refinance test requirements for  
Mortgages  with a Rental Assistance Contract . 
 
• For amortizing Mortgages  
 
o The standard amortization period is 30 years.  
 
o The maximum amortization period is 35 years ; except for a Preservation 
Rehabilitation Mortgage for a Non -LIHTC Property for which the maximum 
amortization period is 30 years . 
 
o The minimum amortization period is 15 years.