# B7-3-06, Flood Insurance Requirements for All Property Types (02/07/2024)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_399
**Pages:** 888-894
**Section Path:** Part B, Origination Through Closing > Subpart B7, Insurance > Chapter B7-3, Property and Flood Insurance > B7-3-06, Flood Insurance Requirements for All Property Types (02/07/2024)

---

Published March 4, 2026
870B7-3-06, Flood Insurance Requirements for All Property Types
(02/07/2024)
Introduction
This topic contains information on Fannie Mae’s ﬂood insurance requirements, including:
Determining if a Property Requires Flood Insurance
Determining if Flood Insurance is Required on Speciﬁc Structures
Community Eligibility
Acceptable Flood Insurance Policies
Requirements for One- to Four-Unit Properties
Requirements for Project Developments
Deductible Requirements
Delivery Requirements
Requirements During a National Flood Insurance Program Lapse
Determining if a Property Requires Flood Insurance
The lender and servicer must ensure that the subject property is adequately protected by ﬂood insurance when
required. Flood insurance coverage is required when a loan is secured by a property located in
a Special Flood Hazard Area (SFHA), or
a Coastal Barrier Resources System (CBRS) or Otherwise Protected Area (OPA). 
The lender and servicer must determine whether the property is located in an SFHA, a CBRS, or an OPA by using
the FEMA Standard Flood Hazard Determination form. All ﬂood zones beginning with the letter "A" or "V" are
considered SFHAs.
Note:  If the subject property is located within a CBRS or an OPA, ﬂood insurance is required regardless
of whether the property is located in an SFHA.
Flood insurance is not required on a principal or residential detached structure securing the loan if the lender or
servicer obtains a letter from FEMA stating that its maps have been amended and the structure is no longer in
an SFHA.
Determining if Flood Insurance is Required on Speciﬁc Structures
The following table describes how to evaluate a property to determine if ﬂood insurance is required. For these
requirements, the "principal structure" is the primary residential structure on the subject property.

Published March 4, 2026
871If... Then ﬂood insurance is...
any part of the principal structure is located within
an SFHArequired.
the principal structure is not located within an
SFHA, but a residential detached structure aﬃxed
to the land that serves as part of the security for
the loan is located within the SFHArequired for the residential detached structure.
the principal structure is not located within an
SFHA, but a non-residential detached structure
aﬃxed to the land that serves as part of the
security for the loan is located within the SFHAnot required on either structure.
the principal structure is not located within an
SFHA, but a detached structure aﬃxed to the land
that does not serve as part of the security for the
loan is located within the SFHAnot required on either structure.
 
Community Eligibility
If the lender or servicer determines that a principal or residential detached structure is located in an SFHA, but
the community does not participate in the National Flood Insurance Program (NFIP), the loan is not eligible for
purchase by Fannie Mae. 
If the property is in a non-participating community and a CBRS or an OPA, it is only eligible for purchase by
Fannie Mae if it is not located in an SFHA.
Loans secured by properties in the Emergency Program of the NFIP are eligible for purchase by Fannie Mae with
coverage equivalent to the NFIP maximum that is available.
Acceptable Flood Insurance Policies
The ﬂood insurance policy must be one of the following:
a standard policy issued under the NFIP; or
a policy issued by a private insurer, provided
the terms and amount of coverage are at least equal to that provided under an NFIP policy based
on a review of the full policy issued by a private insurer, and

Published March 4, 2026
872the insurer meets Fannie Mae's rating requirements as speciﬁed in Property Insurer Rating
Requirements  in  B7-3-01, General Property Insurance Requirements for All Property Types .
A Policy Declaration page is acceptable evidence of ﬂood insurance.
Requirements for One- to Four-Unit Properties
The minimum amount of ﬂood insurance required for ﬁrst mortgages must be equal to the lesser of
100% of the replacement cost value of the improvements,
the maximum coverage amount available from NFIP, or
the unpaid principal balance (UPB) of the loan (or loan amount at the time of origination).
See Insurance Requirements for Renovation and Energy Improvement Loans  in  B7-3-05, Additional Insurance
Requirements   for additional information.
See Mortgagee Clause for Property and Flood Insurance  and Named Insured for Property and Flood Insurance  in 
B7-3-08, Mortgagee Clause, Named Insured, and Notice of Cancellation Requirements  for mortgagee clause and
named insured requirements.
Requirements for Project Developments
When a loan is secured by a unit in an attached condo or co-op project and ﬂood insurance is required as
described in Determining if a Property Requires Flood Insurance , the lender and servicer must verify that the
HOA or co-op corporation maintains a master ﬂood insurance policy with premiums paid as a common expense,
unless otherwise indicated in the table below.
The following table provides additional requirements based on the project type.

Published March 4, 2026
873Project Type Coverage Requirements
CondoThe lender and servicer must verify that the HOA maintains a Residential
Condominium Building Associated Policy (RCBAP) or equivalent private ﬂood
insurance coverage for a condo building consisting of attached units located
within an SFHA. The only building that must be veriﬁed is the subject unit's
building. Fannie Mae does not require evidence of a master ﬂood insurance
policy, provided the unit owner maintains an individual ﬂood dwelling policy that
meets the coverage requirements of this Guide for the following loans or project
types:
• high LTV reﬁnance loans,
• units in a two- to four-unit project, and
• detached condo properties.
The master ﬂood insurance policy maintained by the HOA must cover the subject
unit's
• entire building; and
• all of the common elements and property, including machinery and equipment
that are part of the building.
The coverage amount for the building must be at least equal to the lesser of
• 80% of the replacement cost value(1), or
• the maximum coverage amount available from NFIP per unit(2).
(1)If the master ﬂood insurance policy meets the minimum coverage requirement
of 80% of the replacement cost value, but the per unit coverage amount does
not meet the requirement for loans secured by one- to four-unit properties, as
described in Requirements for One- to Four-Unit Properties , the unit owner must
maintain a supplemental policy for the diﬀerence.
(2)If the commercial space of an attached condo is over 25%, coverage provided
by the General Property Form (or equivalent coverage) is insuﬃcient. A private
ﬂood insurance policy, or a private ﬂood insurance policy in conjunction with a
General Property Form policy (or equivalent coverage) must be maintained by
the HOA to equate to coverage requirements for projects eligible for an RCBAP.
The contents coverage must equal the lesser of
• 100% of the replacement cost value of all contents owned in common by the
association members, or
• the maximum coverage amount available from NFIP.

Published March 4, 2026
874Project Type Coverage Requirements
Co-opThe lender and servicer must verify that the co-op corporation maintains a
General Property Form policy or equivalent private ﬂood insurance coverage for
a co-op building that is located within an SFHA.
The master ﬂood insurance policy maintained by the co-op corporation must
cover the subject unit's
• entire building, and
• all of the common elements and property, including machinery and equipment
that are part of the building.
The coverage amount for the building must be at least equal to the lesser of
• 100% of the replacement cost value, or
• the maximum coverage available from NFIP.
PUDThe lender and servicer must verify that each attached or detached individual
PUD unit maintains a Dwelling Form policy or equivalent private ﬂood insurance
policy on the subject property.
See Requirements for One- to Four-Unit Properties  above for the required
amount of coverage.
See Mortgagee Clause for Property and Flood Insurance  and Named Insured for Property and Flood Insurance  in 
B7-3-08, Mortgagee Clause, Named Insured, and Notice of Cancellation Requirements  for additional information.
Deductible Requirements
The following table describes the maximum deductible allowed by Fannie Mae for an NFIP or a private ﬂood
insurance policy.
Property Type Deductible Requirement
One- to four-unit propertiesThe deductible must not exceed the maximum deductible amount currently
oﬀered by NFIP for one- to four-unit properties insured under an NFIP Dwelling
Form.
Condo projectsThe deductible must not exceed the maximum deductible amount currently
oﬀered by NFIP for condo projects insured by an RCBAP. This deductible
requirement applies to all condo projects, regardless of the percentage of
commercial space.

Published March 4, 2026
875Property Type Deductible Requirement
Co-op projectsThe deductible must not exceed the maximum deductible amount currently
oﬀered by NFIP for co-op projects insured under an NFIP General Property
Form.
PUDsThe deductible on individual attached or detached PUD units must not exceed
the maximum deductible amount currently oﬀered by NFIP for one- to four-
unit properties insured under an NFIP Dwelling Form.
 
Delivery Requirements
The following table describes the special feature code requirements applicable to ﬂood insurance. See  C1-2-02,
Loan Data and Documentation Delivery Requirements  for detailed loan delivery requirements.
Structure Location and Status of Flood
Insurance CoverageSpecial Feature Code
• Some part of a principal and/or residential detached
structure is located within an SFHA, and
• Flood insurance coverage is in place on the principal
and/or residential detached structure.SFC 170 Flood Insurance — Special Flood Hazard Area
• No part of a principal or residential detached
structure is located within an SFHA, but
• Flood insurance coverage is in place on the principal
and/or residential detached structure.SFC 175 Flood Insurance — Not a Special Flood Hazard
Area
• No part of a principal or residential detached
structure is located within an SFHA, and
• No ﬂood insurance coverage is in place on the
principal or residential detached structure.
Note : In addition to these criteria, this special feature
code also applies if there is a non-residential detached
structure aﬃxed to the land for which any part is in an
SFHA.SFC 180 No Flood Insurance — Not a Special Flood
Hazard Area
Requirements During a National Flood Insurance Program Lapse
The NFIP may lapse due to a shutdown of the federal government or if Congress does not renew the NFIP's

Published March 4, 2026
876authorization to issue new policies, increase coverage on existing policies, or issue renewal policies.
For the duration of such a lapse, a lender may sell a loan to Fannie Mae where ﬂood insurance is otherwise
required without an active ﬂood insurance policy provided the requirements below are met.
During the lapse, lenders must have a process in place to identify properties securing loans sold to us without
proper evidence of active ﬂood insurance on the conditions that the borrower must provide acceptable evidence
of:
a completed application for NFIP ﬂood insurance and proof of the premium payment or the ﬁnal
settlement statement reﬂecting payment of the initial premium, or 
the assignment of an existing NFIP ﬂood insurance policy from the property seller to the purchaser.
The following table provides additional requirements that lenders and servicers must follow during the lapse.
✓ Lenders and servicers must...
 Continue to make ﬂood determinations, provide timely, complete and accurate notices to
borrowers in accordance with applicable laws, and comply with all other ﬂood insurance
requirements.
 Take all steps (as permitted by applicable law) necessary to facilitate the issuance of coverage
once the lapse has ended.
 Retain documentation to support acceptable evidence of ﬂood insurance.
Reﬁnance loans secured by properties where ﬂood insurance is required typically already have acceptable ﬂood
insurance coverage in place at the time of closing. Speciﬁc requirements for reﬁnance loans are listed below.
If a reﬁnance loan... Then the lender...
has acceptable ﬂood insurance coverage in place at
the time of closing that does not expire prior to sale
to Fannie Maemust be accurately reﬂected as the mortgagee
named on the policy.
has a ﬂood insurance policy that expires during the
lapse and before sale to Fannie Maemust follow all requirements in this topic
adapted appropriately to a renewal.
requires more coverage as a result of the reﬁnancemay sell a loan on the condition that the
borrower provide acceptable evidence of an
endorsement request and proof of the additional
premium payment.