# 62SBL.3 SBL Physical Risk Report requirements (08/26/25)

**Source:** freddies_mac.pdf
**Chunk ID:** freddies_mac_2504
**Pages:** 1110-1110
**Section Path:** Third-Party Reports (Chs 60-69) > 62SBL - SBL Physical Risk Report Reqs GB-08-26-25 > 62SBL.3 SBL Physical Risk Report requirements (08/26/25)

---

Guide Bulletin Update 08/26/25  Chapter 62SBL  – Page 6 
 
The current official electronic version of the Guide is published by AllRegs® and accessible via either mf.freddiemac.com (for free) or the AllRegs 
web site of ICE Mortgage Technology  (with a paid subscription).  
Guide Chapter 62SBL – SBL Physical Risk Report Requirements  
o Include completion, reserve funding, and other requirements for Capital Replacements 
and Repairs in the Loan Documents when  required by the Letter of Commitment  
 
• When problematic materials, equipment and systems are identified, as described in Section 
62SBL.5(c)  
 
o Obtain certification from the appraiser that the problematic materials, equipment and 
systems were considered in the evaluation of the Property  
 
o Provide evidence that there is no exclusion in the hazard insurance policy for damage 
caused by the problematic materials, equipment and systems  
 
62SBL.3  SBL Physical Risk Report requirements (08/26/25) 
a. General requirements for SBL Physical Risk Reports ( 02/16/23) 
Each SBL Physical Risk Report must : 
 
• Be completed by a consultant who meets the qualifications and requirements stated in 
Section 62SBL.17  
 
• Document information disclosed by a comprehensive inspection of the Property to 
analyze all property conditions and environmental hazards  
 
• Meet the inspection requirements of Sections 62SBL.5 through 62SBL.15  
 
• Indicate the appropriate category described below for each repair item except Routine 
Repairs and Maintenance  
 
• For every Critical Repair, Priority Repair and potential  environmental concern  that is 
identified, provide a suggested remedy and a cost for repair, replacement or 
remediation  
 
• Include any environmental sampling results  
 
• Reference any environmental O&M programs that are recommended  
 
• If a cost for repair or replacement of any item cannot be identified without further 
analysis, recommend a scope for the analysis and the estimated cost of such analysis  
 
• The physical risk consultant must review pertinent information and records in 
accordance with Section 62SBL.5  
 
Sections of Chapter 62SBL refer to environmental provisions in Chapter 61 to avoid 
duplication.  For the purposes of this Chapter 62SBL, all references to the environmental 
report in the referenced sections of Chapter 61 are to be understood as referring t o the SBL 
Physical Risk Report, and any references to the environmental consultant are to be 
understood as referring to the physical risk consultant.