# B3-6-08, DU: Requirements for Liability Assessment (01/27/2015)

**Source:** fannie_mae.pdf
**Chunk ID:** fannie_mae_251
**Pages:** 532-532
**Section Path:** Part B, Origination Through Closing > Subpart B3, Underwriting Borrowers > Chapter B3-6, Liability Assessment > B3-6-08, DU: Requirements for Liability Assessment (01/27/2015)

---

Published March 4, 2026
514For DU underwritten loans, refer to  B3-5.3-09, DU Credit Report Analysis .
Recent Related Announcements
The table below provides references to recently issued Announcements that are related to this topic.
Announcements Issue Date
Announcement SEL-2023-03 April 05, 2023
 
B3-6-08, DU: Requirements for Liability Assessment (01/27/2015)
Introduction
This topic contains information on DU requirements for liability assessment, including:
Reconciling the Loan Application with the Credit Report
Auto-Populating DU Liabilities from the Credit Report
Reconciling the Loan Application with the Credit Report
DU uses liabilities from the loan application, not debts from the credit report, to calculate the debt-to-income
ratio.
To help ensure that all appropriate liabilities are included in the debt-to-income ratio, DU performs a series of
reasonableness tests comparing loan application balances and payments with the credit report balances and
payments. If the values on the loan application are less than the values on the credit report by more than
selected tolerances, the lender must justify the discrepancies between the two. The lender must update the
loan application values if the values are needed to calculate accurate ratios. The information must be updated
either with veriﬁed values from the credit report or with independent, outside veriﬁcations.
Auto-Populating DU Liabilities from the Credit Report
The lender can automatically copy the borrower’s liabilities from the credit report to the loan application by
selecting the auto-populate liabilities option from DU when the credit report is ordered. If the lender’s loan
origination system does not oﬀer this option, or if the lender elects not to use it, the liabilities must be entered
manually into the loan application.
When the auto-populate option is selected, it is not necessary to obtain additional borrower disclosure for
tradelines appearing on the credit report. The lender is still required to obtain full disclosure from all borrowers,
including borrowers who do not have traditional credit, of all existing credit obligations. Liabilities that do not